<div class="row">
  <div class="col-md-12">

    <%= form_for([:blog, @post]) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group row mt-3">
        <div class="col-sm-8">
          
          <!- Title ->
          <%= form.text_field :title, class: 'form-control form-control-lg mb-3', placeholder: "Add post title" %>
          
          <!- Body ->
          <%= form.rich_text_area :body %>

        </div>


        <div class="col-sm-4">

          <div class="card bg-light">
            <div class="card-body">

              <div class="form-group">
                <%= form.label "Post Category:" %>
                <%= form.select :post_category_id, PostCategory.all.map {|c| [c.name, c.id]}, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label "Post Author:" %>
                <%= form.select :post_author_id, PostAuthor.all.map {|c| [c.name, c.id]}, class: 'form-control' %>
              </div>

              <!- Save Post ->
              <div class="actions">
                <button type="submit" class="btn btn-block btn-primary mb-2">Save Post</button>
              </div>

            </div>
          </div>

          <div class="card bg-light mt-3">
            <div class="card-body">

              <!- Post Image ->
              <h5 class="">Post Image</h5>
              <p>This will only show up on the front page of the blog. The image needs to be 329x220.</p>
              <% if @post.post_image.present? %>
                <div class="alert alert-primary"><%= @post.post_image.filename %></div>
              <% end %>
              <%= form.file_field :post_image, class: 'form-control' %>
          
            </div>
          </div>


          <div class="card bg-light mt-3">
            <div class="card-body">

              <!- SEO Description ->
              <h5 class="">SEO Description</h5>
              <p>This will only show up for Google and should be no more than 250 characters.</p>
              <%= form.rich_text_area :seo_description %>

              <!- Post Description ->
              <h5 class="mt-3">Post Description</h5>
              <p>This will show up on the blog front page and should be no more than 250 characters.</p>
              <%= form.rich_text_area :post_description %>

            </div>
          </div>

        </div>

      </div>

    <% end %>

  </div>
</div>
