<div itemscope itemtype="https://schema.org/NewsArticle">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8">

      <figure itemscope itemtype="https://schema.org/ImageObject" class="post-show__image">
        <%= image_tag(@post.post_image, alt: @post.title, class: "img-fluid") %>
        
        <meta itemprop="contentUrl" content="<%= url_for(@post.post_image) %>" />
        
        <span itemprop="creator" itemscope itemtype="https://schema.org/Person">
          <meta itemprop="name" content="Gary Smailes" />
        </span>
        
        <meta itemprop="copyrightNotice" content="Gary Smailes" />
        <meta itemprop="creditText" content="BubbleCow" />
      </figure>

        <!-- Metadata -->
        <section class="post-show__metadata">
          <div class="card">
            <div class="card-body">

              <!-- title -->
              <div class="post-show__metadate-title">
                <h1 itemprop="headline" class="page__header-title"><%= @post.post_title.titleize %></h1> 
              </div>

              <!-- post information -->
              <div class="post-show__metadata-information">
                <p>
                  <%= image_tag("gary-smailes", alt: "Gary Smailes", class: "img-fluid rounded-circle pr-1", size: "30x30") %>
                    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                      <a itemprop="url" href="<%= blog_post_author_path(@post.post_author) %>">
                        <span itemprop="name"><%= @post.post_author.name %></span>
                      </a>
                    </span>
                    <% if @post.published? %>
                    |  <span itemprop="dateModified">Updated: <%= @post.published_at.strftime("%b %d, %Y") %></span>
                    <% else %>
                      <span>Unpublished</span>.
                    <% end %>
                    | <%= link_to @post.post_category.name.titleize, blog_post_category_path(@post.post_category) %>
                  </p>
                </div>      

            </div>
          </div>
        </section>
      
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        <!-- Article -->
        <article itemprop="articleBody" class="text-content">
          <%= post_content %>
        </article>

        <!-- Furher reading -->
        <% if @related_posts.any? %>
          <h2>Further Reading</h2>
          <ul>
            <% @related_posts.each do |post| %>
              <li><%= link_to post.post_title.titleize, blog_post_path(post) %></li>
            <% end %>
          </ul>
        <% end %>

        <!-- Advert -->
        <section class="post-show__advert">
          <%= blog_post_advert(@post.advert_category) %>
        </section>

      </div>
    </div>
  
  </div>

</div>