<div itemscope itemtype="https://schema.org/NewsArticle">

  <main class="post">

    <section class="page-header">
      <!-- Post title -->
      <div itemprop="headline">
        <h1><%= @post.post_title.titleize %></h1> 
      </div>
    </section>

    <section class="page-body">

      <!-- Post image -->
      <div itemprop="image">
        <%= image_tag(@post.post_image, :alt => @post.title, class: "img-fluid", size: "" ) %>
      </div>

      <!-- Post metadata -->
      <div class="metadata">
        <p>
            <%= image_tag("gary-smailes", :alt => "Gary Smailes", class: "img-fluid rounded-circle pr-1", size: "40x40" ) %>
            <span itemprop="author" itemscope itemtype="https://schema.org/Person" id="post-author"><span itemprop="name"><%= link_to @post.post_author.name, blog_post_author_path(@post.post_author) %></span></span> -  
            <% if @post.published? %>
              <span itemprop="dateModified">Updated: <%= @post.published_at.strftime("%b %d, %Y") %></span>
            <% else %>
              <span>Unpublished</span>.
            <% end %>
        </p>
        <%= link_to @post.post_category.name.titleize, blog_post_category_path(@post.post_category), class: "badge bg-primary" %>
      </div>

      <article>
        <!-- Post content -->
        <%= post_content %>
      </article>

      <section class="advert">
    
        <!-- Divider line -->
        <div class="divider"></div>

        <!-- Advert -->
        <%= blog_post_advert(@post.advert_category) %>
        
      </section>

    </section>

  </main>

</div>