<main class="post">

  <!-- Post image -->
  <%= image_tag(@post.post_image, :alt => @post.title, class: "img-fluid", size: "960x414" ) %>

  <!-- Post metadata -->
  <div class="metadata">
    <p>
        <%= image_tag("gary-smailes", :alt => "Gary Smailes", class: "img-fluid rounded-circle pr-1", size: "40x40" ) %>
        <span id="post-author"><%= link_to @post.post_author.name, blog_post_author_path(@post.post_author) %></span> -  
        <% if @post.published? %>
          <span>Updated: <%= @post.published_at.strftime("%b %d, %Y") %></span>
        <% else %>
          <span>Unpublished</span>.
        <% end %>
    </p>
    <%= link_to @post.post_category.name.titleize, blog_post_category_path(@post.post_category), class: "badge bg-primary" %>
  </div>

  <!-- Post title -->
  <h1><%= @post.post_title.titleize %></h1>

  <article>
    <!-- Post content -->
    <section class="content">
      <!-- if markdown cotnent is present, it shows that, otherwise it defaults to old active_text content -->
      <% if @post.content.present? %>
        <%= markdown_to_html(@post.content) %>
      <% else %>
        <%= @post.body %>
      <% end %>
    </section>
  </article>

  <section class="advert">
  
    <!-- Divider line -->
    <div class="divider"></div>

      <%= render 'blog/posts/adverts/writing_manual' %>
  </section>

</main>