<div class="jumbotron text-center bg-secondary">
  <h1 class=""><%= @post.name %></h1>
  <div class="post-meta">
    <small class="text-muted">
      <%= link_to @post.post_category.name, blog_post_category_path(@post.post_category)  %>
      <% if current_user.try(:admin?) %>
      | <%= link_to "edit", edit_blog_post_path(@post) %>
      <% end %>
    </small>
  </div>
</div>

<div class="container">
  <main role="main" class="post">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <article>
          <!-- Post Content -->
          <p><%= @post.body %></p>
        </article>
      </div>
    </div>
    <%= render "blog/posts/adverts/writing_manual", book: @book %>
  </main>
</div>