<!DOCTYPE html>
<html>

  <%= render 'shared/layout/head' %>

  <body>

    <!-- Google tag manager -->
    <%= render 'shared/layout/google_tag_manager' %>

    <!-- navigation -->
    <%= render 'shared/layout/navbar' %>

    <!-- Notices -->
    <%= render 'shared/layout/notices' %>

    <!-- Main -->
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                    <%= yield %>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%= render 'shared/layout/footer' %>

  </body>

</html>