<!-- Sets title and description for page -->
<%= set_page_title_and_description(controller_name, action_name) %>


<section class="devise-form">

  <div class="header">    
    <h1><%= bubblecow_name %></h1>
    <p>Edit Your Account</p>
  </div>
          
  <div class="form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <hr>
            <p class="form-text text-muted"><small>Complete fields below to change either your name or your email</small>.</p>
            
            <div class="form-group">
              <%= f.text_field :name, autofocus: false, class: 'form-control', placeholder: "Full Name" %>
            </div>

            <div class="input mt-3">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <hr>
            <p class="form-text text-muted"><small>To change password add your new password to first field, plus confirm this password in the second field. <em>Leave both blank if you don't want to change it</em>.</small></p>
            <div class="input">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'New Password'  %>
            </div>

            <div class="input">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'  %>
            </div>
            
            <hr>
            <p class="form-text text-muted"><small>To save ANY changes to your account we need your password to confirm changes</small>.</p>
            <div class="input">
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password to save changes', :required => true  %>
            </div>

            <div class="button d-grid gap-2">
              <%= f.submit "Save Changes", class: 'btn btn-lg btn-block btn-primary' %>
            </div>
          <% end %>
</div>

        </div>
      </div>
    </div>

</section>