
    <div class="col-lg-6 col-md-6 ml-auto mr-auto">
      <div class="card deviseForm" id="deviseSignup">
        <div class="card-body">
          <h1 class="text-center">Edit Your Account</h1>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <hr>
            <p class="form-text text-muted"><small>Complete fields below to change either your name or your email</small>.</p>
            <div class="form-group">
              <%= f.text_field :name, autofocus: false, class: 'form-control', placeholder: "Full Name" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <hr>
            <p class="form-text text-muted"><small>To change password add your new password to first field, plus confirm this password in the second field. <em>Leave both blank if you don't want to change it</em>.</small></p>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'New Password'  %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'  %>
            </div>
            
            <hr>
            <p class="form-text text-muted"><small>To save ANY changes to your account we need your password to confirm changes</small>.</p>
            <div class="form-group">
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password to save changes'  %>
            </div>

            <div class="form-group">
              <%= f.submit "Save Changes", class: 'btn btn-lg btn-block btn-primary' %>
            </div>
          <% end %>
          <hr>

          <p class="text-center"><%= link_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %></p>
          </div>
      </div>
    </div>
