<!-- Sets title and description for page -->
<%= set_page_title_and_description(controller_name, action_name) %>


<div class="devise-form">

  <div class="header">    
    <h1><%= bubblecow_name %></h1>
      <!-- Set text based on url -->
      <% if request.path == free_signup_path %>
        <p class="lead">To access ALL free courses create a free account</p>
      <% else %>
        <p class="lead">Create a free account</p>
      <% end %>
  </div>

  <div class="form">
    <%= form_for(resource, as: resource_name, html: {'data-turbo' => "false"}, url: registration_path(resource_name)) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="input">
        <label for="signInName" class="form-label">Name:</label>
        <%= f.text_field :name, autofocus: true, id: "signInName", class: 'form-control', placeholder: "Add your full name" %>
      </div>

      <div class="input">
        <label for="signInEmail" class="form-label">Email:</label>
        <%= f.email_field :email, autocomplete: "email", class: 'form-control', id: "signInEmail", type: "email", placeholder: "Add your email" %>
      </div>

      <div class="input">
        <label for="signInPassword" class="form-label">Password:</label>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id: "signInPassword", type: "password", placeholder: "Add a password" %>
      </div>

      <div class="input">
        <label for="signInPasswordConfirm" class="form-label">Confirm Password:</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: "signInPasswordConfirm", type: "password",placeholder: "Confirm your password" %>
      </div>

      <%= f.hidden_field :country, value: @country %>
      <%= f.hidden_field :currency, value: @currency %>
      
      <div class="button d-grid gap-2">  
        <%= f.button "Create your account", type: "submit", class: "btn btn-primary btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing up..."} %>
      </div>

      <div class="divider"></div>

      <!-- Hidden inputs -->
      <%= invisible_captcha :subtitle %>

      <div class="d-grid gap-2"> 
        <%= link_to "Already have an account? Log In", new_user_session_path, class: "btn btn-outline-primary btn-block" %>
      </div>

    <% end %>
  </div>

</div>