<div class="card bg-light mb-3">
    <div class="card-header">
        <h2><%= link_to post.name.tileize, blog_post_path(post) %></h2>
        <div class="post-meta">
            <small class="text-muted">
                <span class="font-weight-bold"><%= link_to post.post_author.name, blog_post_author_path(post.post_author)  %></span>
            </small>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <%= image_tag(post.post_image, :alt => "", class: "card-img-top mb-3", size: "329x220" ) %>
            </div>
            <div class="col-sm">
                <%= post.post_description %>
            </div>
        </div>
        <p><%= link_to 'Continue Reading ->', blog_post_path(post) %></p>   
    </div> 
</div>
