<% if user_is_editorial_staff %>

    <p>Invoice has been paid and the due date set. Assign an editor to this edit.</p>

    <p>Assign Editor:</p>
    

        <%= form_with(model: [:services, @book, @developmental_edit], local: true) do |form| %>
            <div class="form-group mt-3">
                <%= form.select(:user_id, options_from_collection_for_select( User.editorial_staff.order('last_name ASC'), :id, :full_name) , { prompt: "Assign editor..." }, {class: "form-select",  required: true}) %>
                <%= form.hidden_field :aasm_state, value: "developmental_edit_editing_underway" %>
            </div>

            <div class="form-group mt-3">
                <%= form.button "Add Editor", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding..."} %>
            </div>
        <% end %>
  
<% elsif user_is_writer %>  

    <p>Your book is currently being edited.</p>

    <p>Your edit will be returned on, or before, <strong><%= @developmental_edit.due_date.strftime("%B %d") %></strong>.</p>

<% end %>


