<% if user_is_editorial_staff %>

    <p>When this invoice has been paid, confirm the paid date and add due date.</p>

     <%= form_with(model: [:services, @book, @developmental_edit], local: true) do |form| %>
        <div class="form-group mt-3">
            <h5>Invoice Pay Date:</h5>
            <%= form.date_field :invoice_paid_date, value: Date.today, class: "form-control" %>
        </div>

        <div class="form-group mt-3">
            <h5>Edit Due Date:</h5>
            <p>The proposed due date is <%= proposed_developmental_edit_due_date %>.</p>
            <%= form.date_field :due_date, value: Date.today + 37.day, class: "form-control" %>
            <%= form.hidden_field :aasm_state, value: "developmental_edit_invoice_paid" %>
        </div>

        <div class="form-group mt-3">
            <%= form.button "Add dates", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding..."} %>
        </div>
    <% end %>
  
<% elsif user_is_writer %>  

    <p>We are currently waiting for payment before we can begin your edit.</p>
    <p>An email with payment details was sent to <strong><%= current_user.email%></strong> on <strong><%= @developmental_edit.invoice_due_date.strftime("%B %d") %></strong>.</p>
    <p>If you are having problems with payment, or have not recevied the payment email, then email Gary at <%= mail_to "gary@bubblecow.com", "gary@bubblecow.com", subject: "Payment Problems" %>.</p>

<% end %>
