<p class="title"><%= side_navigation_title(request.path) %></h2>

<div class="admin-side-navbar">
  <ul>
   <li class="admin-side-navbar-title">Services</li>
   <li><%= link_to "Reading Report", root_path %></li>
   <li><%= link_to "Sample Edits", services_sample_developmental_edits_path, :class => is_active?(services_sample_developmental_edits_path) %></li>
   <li><%= link_to "Developmental Edits", services_developmental_edits_path, :class => is_active?(services_developmental_edits_path) %></li>
   <li><%= link_to "Mentoring", root_path %></li>
   <li class="admin-side-navbar-title">Admin</li>
   <li><%= link_to "Blog", admin_area_blog_path, :class => is_active?(admin_area_blog_path) %></li>
   <li><%= link_to "Users", admin_area_users_path, :class => is_active?(admin_area_users_path) %></li>
   <li><%= link_to "Testimonals", admin_area_testimonials_path, :class => is_active?(admin_area_testimonials_path) %></li>
  </ul>
</div>  