<p>The sample has been accepted.</p>

<p>Sends this email to <%= mail_to @sample_developmental_edit.user.email, "My email", subject: "Imporant information about your sample edit" %></p>

<p>Hi,</p>

<p>Thanks for submitting your book for sample developmental editing.</p>

<p>I am delighted to say that I feel we can add value to your book and will be happy to carry out a sample edit.</p>

<p>However, before we can proceed, we find that it is helpful for writers if we clearly outline the cost and time frame of a full edit.</p>

<p>This sample developmental edit will be carried out FREE OF CHARGE.</p>

<p>If, once you have received your sample edit, you were happy and wish to proceed to a full edit the cost would be <%= developmental_edit_quote(@sample_developmental_edit) %>.</p>

<p>This is cost based on a word count of 35,435. If this word count alters, the cost will also alter. You can find a cost calculator here.</p>

<p>All developmental edits are completed within twenty-eight working days of payment. For example, if you were to submit today, your edit would be returned on, or before, <%= proposed_developmental_edit_due_date %>.</p>

<p>Please ensure that your publication timetable allows time for both this edit, plus any extra re-writes. We typically suggest you allow one-to-two weeks for re-writes.</p>

<p>If you are happy with both the potential cost and the editing timetable, then I would love to provide you with a free sample edit.</p>

<p>To proceed, just hit reply and let us know that you are happy to move forward. If would also help if you could tell us a little about you publication plans. Are you intending to self-publish or will you be seeking a traditional publishing route?</p>

<p>If you have any questions, please don't hesitate to ask either via email or we can set up a chat.</p>

<p>Gary Smailes</p>

<p>Assign Editor:</p>
    

    <%= form_for([:services, @sample_developmental_edit]) do |form| %>
        <div class="form-group">
            <%= form.select :editor_id, [['Gary Smailes', 1]], :required => true, class: "form-control" %>
            <%= form.hidden_field :aasm_state, value: "sample_developmental_edit_editing_underway" %>
        </div>

        <div class="form-group">
            <%= form.button "Add Editor", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding..."} %>
        </div>
    <% end %>