<% if user_is_editorial_staff %>

    <p>The sample has been accepted.</p>

    <p>An email has been sent to the writer, once we have a reply, assign an editor.</p>

    <%= form_with(model: [:services, @book, sample_developmental_edit], local: true) do |form| %>
        <div class="form-group">
            <%= form.select(:user_id, options_from_collection_for_select( User.editorial_staff.order('last_name ASC'), :id, :full_name) , { prompt: "Assign editor..." }, {class: "form-select",  required: true}) %>
            <%= form.hidden_field :status, value: "sample_developmental_edit_editing_underway" %>
        </div>

        <div class="form-group mt-3">
            <%= form.button "Add Editor", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding..."} %>
        </div>
    <% end %>

  
<% elsif user_is_writer %>  
    
    <p>Your sample has been accepted and is currently being edited.</p>
    <p>We will aim to return your feedback within <strong>two working days</strong> from <%= @sample_developmental_edit.accepted_date.strftime("%B %d") %>.</p>
    <p>You will receive an email when your feedback is ready for you to download from this page.</p>

<% end %>