<% if editorial_staff(current_user) %>

    <p>This sample is being edited.</p>

    <p>Upload files when edit is complete.</p>

    <%= form_with(model: [:services, @book, sample_developmental_edit], local: true) do |form| %>
        <div class="form-group">
            <p class="form-label">Sample Editor's Report:</p>
            <%= form.file_field :editors_report, required: true, class: 'form-control' %>
        </div>

        <div class="form-group">
            <p class="form-label">Edited Sample Manuscript:</p>
            <%= form.file_field :edited_manuscript, required: true, class: 'form-control' %>
        </div>

        <%= form.hidden_field :status, value: "sample_developmental_edit_returned" %>

        <div class="form-group">
            <%= form.button "Upload Files", class: 'button button-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Uploading..."} %>
        </div>
    <% end %>

<% elsif current_user.try(:writer?) %>  

    <p>Your sample has been accepted and is currently being edited by <%= @sample_developmental_edit.user.full_name %>.</p>
    <p>Your feedback will be returned within <strong>two working days</strong> from <%= @sample_developmental_edit.accepted_date.strftime("%B %d") %>.</p>
    <p>You will receive an email when your feedback is ready for you to download from this page.</p>

<% end %>