 <h1>Service Prices</h1>

 <div class="box">

    <ul>
      <% @service_prices.each do |price| %>  
          <li>
              <%= link_to price.service_type, services_service_price_path(price) %> | 
              <%= price.currency %> |
              <%= price.price %> |

              <% if current_user.try(:admin?) %>
                  [<%= link_to "edit", edit_services_service_price_path(price) %> | 
                  <%= link_to "delete", services_service_price_path(price), method: :delete, data: { confirm: "Are you sure you want to kill this bad boy?"} %>]
              <% end %>

          </li> 
      <% end %>
    <ul>

  <%= link_to "Add new service price", new_services_service_price_path %>

 </div>
