<section class="header">
    <h1>Users</h1>
</section>

<section class="page-body">
<div class="box">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <!-- Add tabs for each user role -->
        <% [:free_user, :paid_user, :editor, :manager, :admin].each_with_index do |role, index| %>
            <li class="nav-item" role="presentation">
                <button class="nav-link <%= 'active' if index.zero? %>" id="<%= role %>-tab" data-bs-toggle="tab" data-bs-target="#<%= role %>" type="button" role="tab" aria-controls="<%= role %>" aria-selected="<%= 'true' if index.zero? %>"><%= role.to_s.humanize %></button>
            </li>
        <% end %>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- Tab panes for each user role -->
        <% [:free_user, :paid_user, :editor, :manager, :admin].each_with_index do |role, index| %>
            <div class="tab-pane fade <%= 'show active' if index.zero? %>" id="<%= role %>" role="tabpanel" aria-labelledby="<%= role %>-tab">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% instance_variable_get("@#{role}s").each do |user| %>
                            <tr>
                                <th scope="row"><%= link_to user.full_name, user_path(user) %></th>
                                <td><%= user.email %></td>
                                <td><%= button_to 'Delete', user_path(user), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to leave this bound and gagged?" }}, class: 'btn btn-outline-danger' %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
</div>
</section>
