
<div class="row mt-3">

    <div class="col-lg-8">

        <!-- User Information -->
        <div class="card h-100">

            <div class="card-body">

                <%= form_with(model: @user) do |form| %>

                    <!-- Name -->
                    <div class="pb-3">
                        <%= form.text_field :name, class: 'form-control form-control-lg' %>   
                    </div>

                    <!-- Pen Name -->
                    <div class="pb-3">
                        <%= form.text_field :pen_name, class: 'form-control', placeholder: "Pen name" %>   
                    </div>

                    <!-- Email -->
                    <div class="pb-3">
                        <%= form.text_field :email, class: 'form-control' %>   
                    </div>

                    <!-- Role -->
                    <div class="pb-3">
                        <%= form.select(:role, options_for_select([['Writer', "writer"], ['Editor', 'editor'], ['Manager', 'manager'], ['Admin', "admin"]], :selected => @user.role), {}, {class: "form-select"}) %>  
                    </div>

                    <!-- Note -->
                    <div class="small-menu pb-3">
                        <%= form.rich_text_area :note, type: "text", class: "form-control", placeholder: "Only seen by editor, never the writer." %>
                    </div>

                    <!-- Submitt -->
                    <%= form.button "Update User", type: "submit", class: 'btn btn-outline-primary btn-sm', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}  %>
               

                <% end %>

            </div>

        </div>
        
    </div>

    <div class="col-lg-4">

        <!-- User Data -->
        <div class="card h-100 mt-2 mt-lg-0">

            <div class="card-body">

                <p><strong>Created: </strong><%= @user.created_at.strftime("%B %d, %Y") %></p>
                <p><strong>Last log in: </strong> <%= last_time_logged_in(@user) %></p>
                <p><strong>Number of log ins: </strong> <%= @user.sign_in_count %></p>
                <p><strong>Number of Visits: </strong> <%= @user.visits.count  %></p>

            </div>

        </div>

    </div>

</div> 

<div class="row mt-3">

    <div class="col">
    
        <div class="card mb-3">

            <div class="card-body">

                <h2>Books</h2>
                <!-- Books and Edits -->
                <% @books.each do |book| %>
                            
                            <h3>
                                <%= link_to book.title.titleize, services_book_path(book) %>
                                <%= link_to "x", services_book_path(book), data: { "turbo-method": :delete, confirm: "Are you sure you want to kill this bad boy?"} %>
                            
                            </h3>

                            <!-- Developmental Edit Samples -->
                            <% if book.dev_edit_samples.present? %>
                                
                                <h5 class="card-text">Sample Developmental Edits</h5>

                                <!-- Sample developmental edits -->
                                <% book.dev_edit_samples.each do |sample| %>
                                    <p class="card-text">
                                        <%= sample.unedited_manuscript.filename %> |
                                        <%= link_to "Destroy - this is broken, it i deleting the book fix!", services_book_dev_edit_sample_path(book, sample), data: { "turbo-method": :delete} %>
                                    </p>
                                <% end %>

                            <% end %>

                            <!-- Developmental Edits  -->
                            <% if book.dev_edits.present? %>
                                
                                <h5 class="card-text">Developmental Edits</h5>

                                <!-- Sample developmental edits -->
                                <% book.dev_edits.each do |dev_edit| %>
                                    <p class="card-text">
                                        <%= dev_edit.unedited_manuscript.filename %> |
                                        <%= link_to "Destroy", services_book_dev_edit_path(book, dev_edit), data: { "turbo-method": :delete} %>
                                    </p>
                                <% end %>

                            <% end %>

                <% end %>
            </div>

        </div>

        
        <!-- This only show if the user has old samples or developmental edit -->
        <% if @old_sample_developmental_edits.present? || @old_developmental_edits.present? %>

            <div class="card mb-3">

                <div class="card-body">

                    <h2>Old Sample Developmental Edits</h2>
                    <p>These are edits that were submitted prior to us switching to books system.</p>
                    <ul>
                        <% @old_sample_developmental_edits.each do |edit| %>
                            <li>
                                <%= link_to edit.title, services_sample_developmental_edit_path(edit) %> |
                                <%= link_to "Destroy", services_sample_developmental_edit_path(edit), data: {"turbo-method": :delete, turbo_confirm: "Are you sure?"} %>
                            </li>
                        <% end %>
                    </ul>

                    <h2>Old Developmental Edits</h2>
                    <ul>
                        <% @old_developmental_edits.each do |edit| %>
                            <li>
                                <%= link_to edit.title, services_developmental_edit_path(edit) %>
                                <%= link_to "Destroy", services_developmental_edit_path(edit), data: { "turbo-method": :delete, confirm: "Are you sure you want to kill this bad boy?"} %>
                            </li>
                        <% end %>
                    </ul>

                </div>

            </div>

        <% end %>

    </div>

</div>
