<div class="admin-information-left">
    <h1 class="book-title"><%= @developmental_edit.title.titleize %></h1>

    <p><%= @developmental_edit.word_count %> | <%= @developmental_edit.genre.genre_type.titleize %> | <%= @developmental_edit.language.titleize %> </p>
    <p><%= @developmental_edit.user.name.full %> | <%= @developmental_edit.user.user_location(@developmental_edit.user.country) %> | change user</p>

    <%= form_for([:services, @developmental_edit]) do |form| %>
        <div class="form-group">
            <%= form.rich_text_area :description, type: "text", class: "form-control", rows: "35" %>
        </div>
            <%= form.button "Update Description", type: "submit", class: 'btn btn-outline-primary btn-sm', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}  %>
    <% end %>
</div>

<div class="admin-information-right">

    <div class="section">
        <%= render "/services/developmental_edits/show/admin/status/#{@developmental_edit.aasm.current_state}", developmental_edit: @developmental_edit %>
    </div>

    <div class="section small-menu">
        <p class="title">Editor Notes:</p>
        <%= form_for([:services, @developmental_edit]) do |form| %>
            <div class="form-group">
                <%= form.rich_text_area :note, type: "text", class: "form-control", rows: "35", placeholder: "Only seen by editor, never the writer." %>
            </div>
                <%= form.button "Update Note", type: "submit", class: 'btn btn-outline-primary btn-sm', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}  %>
        <% end %>
    </div>

    <div class="section">
        <p class="title">Files:</p>

        <ul>
            <% if @developmental_edit.full_manuscript.present? %>
                <li>Unedited Manuscript: <%= link_to @developmental_edit.full_manuscript.filename, rails_blob_path(@developmental_edit.full_manuscript, disposition: "attachment") %></li>
            <% end %>
            <% if @developmental_edit.editors_report.present? %>
                <li>Editor's Report: <%= link_to @developmental_edit.editors_report.filename, rails_blob_path(@developmental_edit.full_manuscript, disposition: "attachment") %></li>
            <% end %>
            <% if @developmental_edit.edited_manuscript.present? %>
                <li>Edited Manuscript: <%= link_to @developmental_edit.edited_manuscript.filename, rails_blob_path(@developmental_edit.full_manuscript, disposition: "attachment") %></li>
            <% end %>
        </ul>
        
    </div>

</div>


