<aside class="sidebar">
  
  <section class="">
    <!-- About BubbleCow -->
    <h2 class="remove_top_padding">About <%= bubblecow_name %></h2>
    <p>BubbleCow's goal is to provide world-class editorial feedback and customer support, at a price that is affordable to self-published writers.</p>
    <p>BubbleCow is an editing company that was born into the modern world of self-publishing. We have developed a way of editing that not only shows you what’s wrong with your book but gives you all the guidance you need to fix the mistakes.</p>
    <p>For us, the quality of the feedback is everything.</p>
    <%= link_to "Learn more about our story here...", about_path %>
  </section>

  <!-- Getting started -->
  <section class="mt-4">
    <h3>Getting Started</h3>
    <p>If you want to discover more about book editing, you are in the right place. Book editing dosen't have to be complicated, all the information you need to decide on what's best for you and your book is below.</p>
    <ul class>
      <li><a href="https://bubblecow.com/book-editing-portal">Book Editing Portal</a></li>
    </ul>    
  </section>

  <!-- Free courses -->
  <section class="mt-4">
    <h3>Free Courses</h3>
    <p>We provide a range of free courses to help writers. Just create a free account to get started.</p>
    <ul>
        <li><%= link_to "All Courses", courses_path %></li>
    </ul>
  </section>

  <!-- Free eBooks -->
  <section class="mt-4">
    <h3>Free eBooks</h3>
    <p>The best way to learn is by doing. FOR FREE you can get tried and tested guidence just by studying these guides. They're here for you.</p>
    <ul>
        <li><%= link_to "The Writing Manual", "https://bubblecow.com/writing_manual" %></li>
    </ul>
  </section>
  
  <!-- Categories -->
  <section class="item mt-4">

    <h3>Catergories</h3>
    <p>Turning your book into a success requires great writing and great book marketing. Here's some articles that will help you get started: </p>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name.titleize, blog_post_category_path(category) %></li>
      <% end %>
    <ul>
  </section>

</aside>