<footer class="page-footer">
  <section class="page-footer-content">
    
    <div class="footer-col" id="copyright">
      <!-- Copyright -->
      <p>Copyright &copy; BubbleCow <%= Time.current.year %></p>
    </div>

    <div class="footer-col" id="menu">
      <p>BubbleCow</p>
        
        <ul>
          <li><%= link_to "Contact", new_message_path, id: "contact footer", class: "" %></li>
          <li><%= link_to "About", about_path, id: "about footer", class: "" %></li>
          <li><%= link_to "Blog", blog_root_path, id: "blog footer", class: "" %></li>
          <li><%= link_to "Writing Manual", root_path, id: "writing_manual footer", class: "" %></li>
        </ul>
    </div>

    <div class="footer-col" id="menu">
      <p>Editorial</p>
        
        <ul>
          <li><%= link_to "Book Editing", book_editing_path, id: "", class: "" %></li>
          <li><%= link_to "ProActive Writer", "https://proactivewriter.com", id: "", class: "" %></li>
        </ul>

    </div>

  </section>
</footer>

