<!-- Footer -->
<footer class="footer text-muted proactive-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-3">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Copyright -->
        <span class="copyright">Copyright &copy; BubbleCow <%= Time.current.year %></span>
        <!-- Copyright -->

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">BubbleCow</h5>

        <ul class="list-unstyled">
          <li><%= link_to "Contact", new_message_path, id: "contact footer", class: "" %></li>
          <li><%= link_to "About", about_path, id: "about footer", class: "" %></li>
          <li><%= link_to "Blog", blog_root_path, id: "blog footer", class: "" %></li>
          <li><%= link_to "Writing Manual", root_path, id: "writing_manual footer", class: "" %></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Editorial</h5>

        <ul class="list-unstyled">
          <li><%= link_to "Book Editing", book_editing_path, id: "file-safety navbar", class: "" %></li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</footer>
<!-- Footer -->