<% if user_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;"">
	  <div class="container-fluid">

    <!-- Branding -->
		<%= link_to root_path, class: "navbar-brand" do %>
      <%= bubblecow_name %>
    <% end %>

    <!-- Burger -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

    <!-- Left nav -->
    <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <ul class="navbar-nav me-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Editorial Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li class="nav-item">
                <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Manuscript Assessment</a>
              </li>
              <li><%= link_to "Book Editing", book_editing_path, class: "dropdown-item" %></li>
              <li class="nav-item">
                <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Mentoring</a>
              </li>
            </ul>
          </li>	

          <li class="nav-item">
            <%= link_to "Testimonials", testimonials_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Blog", blog_root_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Contact", new_message_path, class: "nav-link" %>
          </li>

        </ul>		  
      </div>

      <!-- Right nav -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto">

          <% if user_signed_in? %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.full_name %>
              </a>

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">

                <!-- Admin -->
                <% if current_user.admin? %>
                  <li><%= link_to "Developmental Edits", services_developmental_edits_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Sample Developmental Edits", services_sample_developmental_edits_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Genres", services_genres_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Users", users_path, class: "dropdown-item"  %></li>
                  <li><%= link_to "Testimonials", testimonials_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Prices", services_service_prices_path, class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%= link_to "Messages" + " (" + @unread_messages.count.to_s + ") ", messages_path, class: "dropdown-item"  %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%= link_to "New post", new_blog_post_path, class: "dropdown-item"  %></li>
                  <li><%= link_to "Categories", blog_post_categories_path, class: "dropdown-item"  %></li>
                  <li><%= link_to "Authors", blog_post_authors_path, class: "dropdown-item"  %></li>
                
                <!-- Writer -->
                <% elsif current_user.writer? %>

                    <!-- If writer has old samples or developmental edits created prior to 2022 upgrade And more than one book -->
                    <% if user_has_old_edits_and_more_than_one_book %>
                      <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="See your other books and previous edits">
                        <li><%= link_to "Dashboard", writer_dashboard_path, class: "dropdown-item" %></li>
                      </div>
                    <!-- If writer has more than one book -->
                    <% elsif user_has_more_than_one_book %>
                      <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="See your other books">
                        <li><%= link_to "Dashboard", writer_dashboard_path, class: "dropdown-item" %></li>
                    </div>
                    <!-- If writer has old samples or developmental edits created prior to 2022 upgrade -->
                    <% elsif user_has_old_edits_or_samples %>
                      <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="See your previous edits and samples">
                        <li><%= link_to "Dashboard", writer_dashboard_path, class: "dropdown-item" %></li>
                      </div>
                    <% end %>

                <% end %>


                <!-- All -->
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item"  %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li> 
              </ul>
            </li>	

          <% else %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary" %>
            </li>	

          <% end %>		

        </ul>		  
      </div>

	  </div>
</nav>