<section class="post-card">

    <div class="card">
        <div class="card-body">

            <!-- title -->
            <div class="post-card__title">
                <h3 class="blog-post-title"><%= link_to post.post_title.titleize, blog_post_path(post), class: "remove-link-decoration" %></h3>
            </div>

            <!-- metadata -->
            <div class="post-card__metadata">    
                <%= image_tag("gary-smailes", :alt => "Gary Smailes", class: "img-fluid rounded-circle pr-1", size: "25x25" ) %>   
                <%= post.post_author.name %> - Updated: <%= post.published_at.strftime("%b %d, %Y.") %>
            </div>

            <!-- image -->
            <figure class="post-card__image">
                <%= image_tag(post.post_image, :alt => post.post_title, class: "img-fluid card-img-top", size: "640x480", loading: "lazy", ) %>
            </figure>

            <!-- description -->
            <div class="post-card__description">
                <%= post.post_description %>
            </div>

            <!-- read more -->
            <div class="post-card__read-more">
                <p class="post-card-continue-reading"><%= link_to "Continue Reading >>>", blog_post_path(post), class: "btn btn-outline-primary btn-sm mt-2" %></p>
            </div>

        </div>
    </div>

</section>