<% if @nav != "no nav" %>

  <% if user_masquerade? %>
    <div class="alert alert-warning text-center">
      You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
      <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
    </div>
  <% end %>

  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #fff;">

    <div class="container-fluid">
        
      <!-- Branding -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= bubblecow_name %>
      <% end %>

      <!-- Burger -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Left nav -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <ul class="navbar-nav me-auto">

          <!-- Editorial Services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Editorial Services
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><%= link_to "Manuscript Assessment", manuscript_assessment_path, class: "dropdown-item" %></li>
              <li><%= link_to "Developmental Editing", developmental_editing_path, class: "dropdown-item" %></li>
              <li><%= link_to "Copy Editing", copy_editing_path, class: "dropdown-item" %></li>      
            </ul>
          </li>

          <!-- Courses -->
          <li class="nav-item">
            <%= link_to "Courses", courses_path, class: "nav-link" %>
          </li>

          <!-- About -->
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>

          <!-- Contact -->
          <li class="nav-item">
            <%= link_to "Contact", new_message_path, class: "nav-link" %>
          </li>

        </ul>		 
                    
      </div>

      <!-- Right nav -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto">

          <% if user_signed_in? %>

            <!-- User Sub-menu -->
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.full_name %>
              </a>

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">

                <% if current_user.free_user? || current_user.paid_user? %>
                  <%= render partial: 'shared/layout/navigation/user' %>
                <% elsif current_user.admin? %>
                  <%= render partial: 'shared/layout/navigation/admin' %>
                <% else %>
                  <%= render partial: 'shared/layout/navigation/escape' %>
                <% end %>    

                <!-- All -->
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item"  %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li> 
                          
              </ul>
                 </ul>
                        
            </li>	

          <% else %>

            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, data: { turbo: "false" }, class: "btn btn-outline-primary" %>
            </li>	

          <% end %>		

        </ul>		  
                  
      </div>

    </div>

    </div>
  </nav>

<% end %>