<!-- Hero --> 
<section class="my-5 pb-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 pb-3 customer_pages__header__title">Affordable Book Editing Services</h1>
            <p class="lead">Providing professional editing services for serious writers since 2007. Discover the editorial feedback you need to lift your book to the next level and prepare it for publication.</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg d-none d-lg-block">
            <img class="rounded-lg-3" src="https://media.istockphoto.com/id/1216763292/photo/smiling-mature-woman-writing-in-a-notebook-while-working-from-home.jpg?s=170667a&w=0&k=20&c=YtcyMKATVzpMsVtchVmx_AZCectfbX-z0uCG081ay7o=" alt="" width="720">
        </div>
    </div>
</section>

<section>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">
                <%= link_to ("Manuscript" + "<br>" + "Assessment").html_safe, manuscript_assessment_path %>
            </h2>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title"><%= @price_for_manuscript_assessment %><small class="text-body-secondary fw-light">/1000 words</small></h2>
            <p class="card-text">Holistic assessment for authors looking to discover what's wrong with their book.</p>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Comprehensive content editing.</li>
              <li>Multi-page editor's report.</li>
              <li>Fast turnaround.</li>
            </ul>
            <%= link_to "Find out more...", manuscript_assessment_path, class: "w-100 btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">
                <%= link_to ("Developmental" + "<br>" + "Editing").html_safe, developmental_editing_path %>
            </h2>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title"><%= @price_for_developmental_editing %><small class="text-body-secondary fw-light">/1000 words</small></h2>
            <p class="card-text">Publisher standard feedback for authors preparing their books for publication.</p>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Developmental editing.</li>
              <li>Combined line editing.</li>
              <li>Comprehensive editor's report.</li>
            </ul>
            <%= link_to "Find out more...", developmental_editing_path, class: "w-100 btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">
                <%= link_to ("Copy" + "<br>" + "Editing").html_safe, copy_editing_path %>
            </h2>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title"><%= @price_for_copy_editing %><small class="text-body-secondary fw-light">/1000 words</small></h2>
            <p class="card-text">Insanely detailed professional feedback for authors ready to publish their manuscript.</p>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Copy editing.</li>
              <li>Detailed editor's report.</li>
              <li>Fast turnaround.</li>
            </ul>
            <%= link_to "Find out more...", copy_editing_path, class: "w-100 btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>
    </div>
</section>

<section>

    <div class="row justify-content-md-center mt-5">

        <div class="col-sm col-lg-6">
            
            <div class="explanation-text">
                <h2 class="index-subtitle pb-2">Why BubbleCow?</h2>
                <p>BubbleCow have been providing <%= link_to "professional book editing services since 2007", about_path %>.</p>
                <p>Our focus has always been on providing affordable book editing services to both traditional and self-publishing writers.</p>
                <p>The editing process is complex and time-consuming, so to ensure we provide the best possible service we employ a small team of full-time, hand-picked, and specially trained book editors and mentors.</p> 
                <p>Unlike our competitors, we are not a marketplace for editors or middleman service for book editors.</p>
                <p>This means that we will not be sending your manuscript to an anonymous freelance book editor. You get to work with a specialist editor, with whom you can build a long-term relationship.</p>
                <p>It also means that we can provide the bespoke and personalized book editing service you need, whilst keeping the costs down and providing editorial feedback at a cost that works for you and your budget.</p>
            </div>

        </div>

    </div>

</section>

<section>
    <div class="row mt-5">
        <div class="col-sm-4 d-flex">
            <div class="card flex-grow-1 mt-2">
                <%= image_tag 'banished-love', class: 'card-img-top', alt: 'Banished Love by Ramona Flightner', size: "414x621" %>
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-auto">"The entire developmental edit was simply extraordinary. The editor’s report was highly detailed, encouraging me to think about my novel in new ways and challenging me to improve my story. I will be using BubbleCow's editing services for my next novel."</p>
                    <p class="card-text">Ramona Flightner <cite title="Source Title">Banished Saga</cite></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex">
            <div class="card flex-grow-1 mt-2">
                <%= image_tag 'taste-of-emotions', class: 'card-img-top', alt: 'Taste of Emotions by David Papini', size: "414x621" %>
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-auto">“BubbleCow provided my latest book with the most professional, detailed and personal developmental and line editing service I have ever used. I had the real feeling of my novel "being read" and not just edited. This is definitely the best cost to benefit ratio in editing.”</p>
                    <p class="card-text">David Papini <cite title="Source Title">The Taste of Emotions</cite></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex">
            <div class="card flex-grow-1 mt-2">
                <%= image_tag 'stand-and-deliver', class: 'card-img-top', alt: 'Stand and Deliver! by Ian Nichol', size: "414x621" %>
                <div class="card-body d-flex flex-column">
                    <p class="card-text mb-auto">“BubbleCow made formatting suggestions and waffle excisions that will make my book a hugely commercial product. In terms of structure, suggested ideas have allowed me to improve my book's chapter introductions and conclusions enormously.”</p>
                    <p class="card-text">Ian Nichol <cite title="Source Title">Stand and Deliver!</cite></p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="index-testimonials-link mt-5">

    <div class="row">

        <div class="col mt-4">

            <div class="d-grid gap-2">

                <%= link_to testimonials_path, class: "btn btn-lg btn-outline-primary btn-block" do %>
                    Read <%= @testimonial_count %> testimonials
                <% end %>

            </div>

        </div>
        
    </div>

</section>


<section class="explanation pb-4 mt-5">

    <div class="row justify-content-md-center section-spacer">

        <div class="col-sm col-lg-6 mt-2">
            
            <div class="explanation-text">
                <h2 class="index-subtitle pb-2">What is Manuscript Assessment?</h2>
                <p>While developmental and copy editing provide detailed action-focused feedback, professional manuscript assessment services are designed to provide a book editing service that give a holistic assessment of what is working, but more importantly, what is not and what needs to be changed.</p> 
                <p>In other words, a manuscript appraisal, or assessment, is a paid service that assesses a piece of creative work, either in part or in full (depending on your budget and needs), and provides feedback.</p> 
                <p>It is worth noting that a partial manuscript evaluation comes with some risks. If the editor is unable to see the full scope of your book, it can make assessment of certain structural issues problematic.</p> 
                <p>A manuscript assessment (also known as a critique, appraisal, or a structural report) is where a professional editor/assessor reads your manuscript as a whole, paying close attention to your story’s structure, character development, plot development, pace, setting, consistency etc.</p> 
                <p>The editor will provide a written report on what’s working and what needs improvement. Though the focus of the report will differ for each novel, the following elements are an essential focus.</p> 
                <ul>
                    <li>Character.</li>
                    <li>Setting.</li>
                    <li>Plot.</li>
                    <li>Voice.</li>
                    <li>Narrative Arc.</li>
                    <li>Dialogue.</li>
                    <li>Tension.</li>
                    <li>Pace.</li>
                </ul>
                <p>You can find out more about our <%= link_to "manuscript assessment service here", manuscript_assessment_path %>. This will give you more details and explain how our price per word system works.</p>
            </div>

        </div>

    </div>
        
    <div class="row justify-content-md-center mt-5">

        <div class="col-sm col-lg-6 mt-2">
            
            <div class="explanation-text">
                <h2 class="index-subtitle pb-2">What is Book Editing?</h2>
                <p>BubbleCow provides a type of editing called developmental editing, this is also sometimes called content editing, structural editing, story editing, comprehensive editing, macro editing, or even heavy editing. This is 'big picture' ediitng.</p> 
                <p>However, these terms all refer to the same type of editing.</p>
                <p>Wikipedia describes this type of editing as "significant structuring or restructuring of a manuscript's discourse".</p>
                <p>In reality, it is a much more involved process.</p>
                <p>The editor will examine the entire manuscript in the process, considering all aspects of the book, including its narrative and structure. They will also consider readability, plot, and structure.</p> 
                <p>Some freelance developmental editors will also look out for line-level problems, such as sentence structure, grammar, and punctuation. The better editors will assess a book's suitability for the marketplace. They may also help you to pinpoint the book's genre correctly.</p>
                <p>It is also worth noting that we also provide line editing are part of the editing process. This is not copy editing.</p>
                <p>This editing is commonly carried out by professional book editors within the publishing industry when preparing a book. We feel that including line editing, alongside developmental editing means that writers, especially self-publishing writers, get the best possible service.</p>
                <p>This means that whilst we are checking your book for structure issues and plot holes (developmental editing), we will also find sentence-level problems such as grammar, punctuation, and readability.</p>
                <p>This is all part of the service and is included in the price.</p>
                <p>You can find out more about our <%= link_to "book editing service here", book_editing_path %>. This will give you more details and explain how our price per word system works.</p>
            </div>

        </div>

    </div>
        
    <div class="row justify-content-md-center mt-5">

        <div class="col-sm col-lg-6 mt-2">
            
            <div class="explanation-text">
                <h2 class="index-subtitle pb-2">What is Copy Editing?</h2>
                <p>At BubbleCow, we understand the importance of presenting polished content to your readers. That’s where our copy editing service comes into play, sometimes referred to as line editing, proof-editing, or even micro editing. This is detail-oriented editing, focusing on the 'nitty-gritty' of the text.</p>
                <p>These terms, while they might sound different, all converge to one meticulous process.</p>
                <p>Wikipedia defines copy editing as "the process of reviewing and correcting written material to improve accuracy, readability, and fitness for its purpose, and to ensure that it is free of error, omission, inconsistency, and repetition."</p>
                <p>In essence, it's a thorough examination of the text.</p>
                <p>Our skilled copy editors dive deep into your manuscript, honing in on language specifics like word choice, sentence structure, grammar, and punctuation. They work to enhance the flow and coherence of the writing, ensuring consistency in tone, style, and voice.</p>
                <p>While developmental editors may touch upon sentence-level issues, copy editors are the last line of defense against any lingering errors or inconsistencies. They play a pivotal role in guaranteeing that a book or content speaks to its audience in the clearest, most engaging manner possible.</p>
                <p>Furthermore, it's crucial to note that copy editing is distinct from developmental or structural editing, which evaluates a manuscript's overall narrative and organization. At BubbleCow, we consider copy editing an essential standalone service, though it complements other forms of editing impeccably.</p>
                <p>For those who desire a fine-tuned, professional piece ready for publication or presentation, our copy editing service is invaluable. And yes, our transparent pricing model remains consistent, ensuring you're aware of every penny spent for the quality received.</p>
                <p>Discover more about our <%= link_to "copy editing offerings here", copy_editing_path %>, where we elaborate on our pricing structure and what you can expect from our experienced team.</p>
            </div>

        </div>

    </div>
        
        <div class="row justify-content-md-center mt-5">

            <div class="col-sm col-lg-6 mt-2">
            
                <div class="explanation-text">

                    <h2>Frequently Asked Questions</h2>
                    <p>Below are some frequently asked questions that will provide you more information.</p>

                        <div itemscope itemtype="https://schema.org/FAQPage" class="faq">
                        
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <h4 itemprop="name">How much does it cost to edit a whole book?</h3>
                                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p>The cost of editing a whole book depends on the type of editing and the length of your book. Developmental editing is the most in-depth, and therefore most expensive type of editing. Manuscript assessment is less detailed and therefore less costly. Copy editing is the most aoffordable type of editing.<p>
                                        <p>A typical novel is 80,000 words and, at <%= @price_for_developmental_editing %> per 1000 words for developmental editing, this would cost <%= display_cost(@price_for_developmental_editing, @country) %>.</p>
                                        <p>A manuscript assessment for 80,000 words would be <%= @price_for_manuscript_assessment %> per 1000 words and would cost <%= display_cost(@price_for_manuscript_assessment, @country) %>.</p>
                                        <p>Copy editing for 80,000 words would be <%= @price_for_copy_editing %> per 1000 words and would cost <%= display_cost(@price_for_copy_editing, @country) %>.</p>
                                    </div>
                                </div>
                            </div>

                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <h4 itemprop="name">Who can I get to edit my book??</h3>
                                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <div itemprop="text">
                                        <p><strong>A professional book editor will edit your book</strong>. A developmental editor is normally the best option for an author who has completed their book. The book editor will check your book's plot, assess it's structure and provide feedback to help improve the book's readability.</p>
                                    </div>
                                </div>
                            </div>
                    
                        </div>

                </div>

            </div>

        </div>

</section>

