<!-- Hero -->
<div class="hero px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Affordable Book Editing Services</h1>
    <div class="col-lg-6 mx-auto">
        <p class="sub-title mb-4">Empowering writers to be successful</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <%= link_to "Find out more about book editing", services_book_editing_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>
</div>

<div class="container">

    <!-- Benefits -->
    <div class="row section-spacer">

        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card mt-3">
                <div class="card-body">
                    <h2 class="card-title">Satisfaction</h2>
                    <p class="card-text">The writing process should be <strong>enjoyable and satisfying</strong> for writers. You will have spent years thinking about and writing your book. It deserves the best chance of success.</p> 
                    <p class="card-text">We have been editing books since 2007 and in that time with have worked with more than 1000 writers from all possible genres. Your book will be safe in our hands.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card mt-3">
                <div class="card-body">
                    <h2 class="card-title">Control</h2>
                    <p class="card-text">As a writer, it's essential that you remain in <strong>control of your book and your writing journey</strong> at all times. It is all too easy for the complexities of the process to pull the book from your grasp and leave you feeling lost and uncontrolled.</p> 
                    <p class="card-text">BubbleCow understands what it means to be a writer. We know the process is exciting but scary, but we will ensure that we are part of your journey without ever trying to take control. We will let your book tell the story it was destined to tell in the best way possible.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card mt-3">
                <div class="card-body">
                    <h2 class="card-title">Creativity</h2>
                    <p class="card-text"><strong>The freedom to be creative is part of life.</strong> It's at the very essence of what it means to be a writer. Without the ability to be creative, writers struggle. Telling stories and bringing characters to life is an act of creativity.</p>
                    <p class="card-text">Our role at BubbleCow is to enhance your creativity. It is to give you the tools to be more creative, to tell better stories and, to engage more fully with readers. We never want to stifle your voice, we want to set it free.</p>
                </div>
            </div>
        </div>
    
    </div>


    <!-- Explanation text -->
    <section class="explanation">

        <div class="row justify-content-md-center section-spacer">

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle"> What is Book Editing?</h2>
                    <p>A professional book edit will help to <strong>lift your book to a publishable standard</strong>.</p>
                    <p>It is best employed when you feel you have done as much as you can with your book and are now ready to consider getting it ready for publication.</p>
                    <p>Our unique combined developmental and line editing will provide insanely detailed feedback that will give you all the guidance you require to eventually publish with confidence.</p>
                    <p>The edit will examine your entire manuscript in the process considering all aspects of your book, its narrative and its structure. These include issues such as readability, plot and structure, as well as line level problems such as sentence structure, grammar and punctuation. We will also assess your book's suitablity for the marketplace and even help pinpoint its genre.</p>
                </div>

            </div>

            <div class="col-lg-8 mt-2">

                <div class="explanation-text">
                    <h2 class="index-subtitle">When Should I Seek Book Editing?</h2>
                    <p>Book editing is an in-depth, labor-intensive process, that requires a professional book editor to <strong>examine and assess every element of your book</strong>, showing what works and what needs to be changed.</p>
                    <p>It will result in a clear roadmap as to the steps that are required to lift your book to a publishable standard.</p>
                    <p>If you are in the 'first draft' stages of the writing process, then a book edit can help you to determine that you are on the right track, that your book has enough potential to make it worth carrying on and that you are not making any major mistakes.</p>
                    <p>If you are in the final stages of the writing process and are close to publication (or submission to agents/publishers) and feel your book is just about 'ready', then a book edit is the best step.</p>
                </div>

            </div>

        </div>

    </section>

    <!-- Testimonials -->
    <section class="index-testimonials">

        <div class="row section-spacer">

            <div class="col-lg-4">

                <div class="card mt-2">
                    <%= image_tag 'banished-love', class: 'card-img-top', alt: 'Banished Love by Ramona Flightner' %>
                    <div class="card-body">
                        <p class="card-text">"The entire developmental edit was simply extraordinary. The editor’s report was highly detailed, encouraging me to think about my novel in new ways and challenging me to improve my story. I will be using BubbleCow for my next novel."</p>
                        <p class="card-text">Ramona Flightner <cite title="Source Title">Banished Saga</cite></p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mt-2">

                <div class="card">
                    <%= image_tag 'taste-of-emotions', class: 'card-img-top', alt: 'Taste of Emotions by David Papini' %>
                    <div class="card-body">
                        <p class="card-text">“BubbleCow provided my latest book with the most professional, detailed and personal editing service I have ever used. I had the real feeling of my novel "being read" and not just edited. This is definitely the best cost to benefit ratio in editing.”</p>
                        <p class="card-text">David Papini <cite title="Source Title">The Taste of Emotions</cite></p>
                    </div>
                </div>

            </div>
            
            <div class="col-lg-4 mt-2">

                <div class="card">
                    <%= image_tag 'stand-and-deliver', class: 'card-img-top', alt: 'Stand and Deliver! by Ian Nichol' %>
                    <div class="card-body">
                        <p class="card-text">“BubbleCow made formatting suggestions and waffle excisions that will make my book a hugely commercial product. In terms of structure, suggested ideas have allowed me to improve my book's chapter introductions and conclusions enormously.”</p>
                        <p class="card-text">Ian Nichol <cite title="Source Title">Stand and Deliver!</cite></p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Testimonials link -->
    <section class="index-testimonials-link">

        <div class="row">

            <div class="col mt-4">

                <div class="d-grid gap-2">

                    <%= link_to testimonials_path, class: "btn btn-lg btn-outline-primary btn-block" do %>
                            Read <%= @testimonial_count %> testimonials
                    <% end %>

                </div>

            </div>
        </div>
    </section>


</div>












