<!-- Hero -->
<div class="hero px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Affordable Book Editing Services</h1>
    <div class="col-lg-6 mx-auto">
        <p class="sub-title mb-4">Providing professional book editors and mentors for serious writers since 2007</p>
    </div>
</div>

<div class="container">

    <!-- Benefits -->
    <div class="row justify-content-center section-spacer">

        <!-- Manuscript Assessment -->
        <div class="col-sm-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h2 class="card-title pb-2 text-center">Manuscript Assessment</h2>
                    <p class="card-text text-center">This service provides:</p> 
                    <ul>
                        <li>Affordable editing.</li>
                        <li>Multi-page editor's report.</li>
                        <li>Fast turnaround.</li> 
                    </ul> 
                    <div class="d-grid gap-2 pt-2">
                        <%= link_to "Find out more...", manuscript_assessment_path , class: "btn btn-lg btn-outline-primary" %>   
                    </div>       
                </div>
            </div>
        </div>
        
        <!-- book editing -->
        <div class="col-sm-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h2 class="card-title pb-2 text-center">Developmental <br> Editing</h2>
                    <p class="card-text text-center">This service provides:</p> 
                    <ul>
                        <li>Developmental editing and line editing.</li>
                        <li>Multi-page editor's report.</li>
                        <li>Prompt 28-day turnaround.</li> 
                    </ul> 
                    <div class="d-grid gap-2 pt-2">
                        <%= link_to "Find out more...", book_editing_path , class: "btn btn-lg btn-outline-primary" %>   
                    </div>       
                </div>
            </div>
        </div>

        <!-- Mentoring -->
        <div class="col-sm-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h2 class="card-title pb-2 text-center">Mentoring for </br> Writers</h2>
                    <p class="card-text text-center">This service provides:</p> 
                    <ul>
                        <li>Learn to write better books.</li>
                        <li>One-to-one expert support.</li>
                        <li>No long-term contract.</li>
                    </ul>             
                    <div class="d-grid gap-2 pt-2">
                        <%= link_to "Find out more...", mentoring_path , class: "btn btn-lg btn-outline-primary" %>   
                    </div> 
                </div>
            </div>
        </div>
    
    </div>


    <!-- BubbleCow text -->
    <section class="explanation">

        <div class="row justify-content-md-center section-spacer">

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">Why BubbleCow?</h2>
                    <p>BubbleCow have been providing <%= link_to "professional book editing services since 2007", about_path %>.</p>
                    <p>Our focus has always been on providing affordable book editing services to both traditional and self-publishing writers.</p>
                    <p>We employ a small team of full-time, hand-picked, and specially trained book editors and mentors.</p> 
                    <p>Unlike our competitors, we are not a marketplace for editors or middleman service for book editors.</p>
                    <p>This means that we will not be sending your manuscript to an anonymous freelance book editor. You get to work with a specialist editor, with whom you can build a long-term relationship.</p>
                    <p>It also means that we can provide bespoke, personalized editorial feedback, whilst keeping the costs down and providing professional editing services at a cost that works for you and your budget.</p>
                </div>

            </div>

        </div>

    </section>

    <!-- Testimonials -->
    <section class="index-testimonials">

        <div class="row section-spacer">

            <div class="col-lg-4">

                <div class="card mt-2">
                    <%= image_tag 'banished-love', class: 'card-img-top', alt: 'Banished Love by Ramona Flightner', size: "414x621" %>
                    <div class="card-body">
                        <p class="card-text">"The entire developmental edit was simply extraordinary. The editor’s report was highly detailed, encouraging me to think about my novel in new ways and challenging me to improve my story. I will be using BubbleCow's book editing services for my next novel."</p>
                        <p class="card-text">Ramona Flightner <cite title="Source Title">Banished Saga</cite></p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mt-2">

                <div class="card">
                    <%= image_tag 'taste-of-emotions', class: 'card-img-top', alt: 'Taste of Emotions by David Papini', size: "414x621" %>
                    <div class="card-body">
                        <p class="card-text">“BubbleCow provided my latest book with the most professional, detailed and personal developmental and line editing service I have ever used. I had the real feeling of my novel "being read" and not just edited. This is definitely the best cost to benefit ratio in editing.”</p>
                        <p class="card-text">David Papini <cite title="Source Title">The Taste of Emotions</cite></p>
                    </div>
                </div>

            </div>
            
            <div class="col-lg-4 mt-2">

                <div class="card">
                    <%= image_tag 'stand-and-deliver', class: 'card-img-top', alt: 'Stand and Deliver! by Ian Nichol', size: "414x621" %>
                    <div class="card-body">
                        <p class="card-text">“BubbleCow made formatting suggestions and waffle excisions that will make my book a hugely commercial product. In terms of structure, suggested ideas have allowed me to improve my book's chapter introductions and conclusions enormously.”</p>
                        <p class="card-text">Ian Nichol <cite title="Source Title">Stand and Deliver!</cite></p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Testimonials link -->
    <section class="index-testimonials-link">

        <div class="row">

            <div class="col mt-4">

                <div class="d-grid gap-2">

                    <%= link_to testimonials_path, class: "btn btn-lg btn-outline-primary btn-block" do %>
                            Read <%= @testimonial_count %> testimonials
                    <% end %>

                </div>

            </div>
        </div>
    </section>

    <!-- Sales text -->
    <section class="explanation pb-4">

        <div class="row justify-content-md-center section-spacer">


            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">What is Manuscript Assessment?</h2>
                    <p>While developmental and copy editing provide detailed action-focused feedback, professional manuscript assessment services are designed to give a holistic assessment of what is working, but more importantly, what is not and what needs to be changed. 
                    <p>In other words, a manuscript appraisal, or assessment, is a paid service that assesses a piece of creative work, either in part or in full (depending on your budget and needs), and provides feedback. 
                    <p>It is worth noting that a partial manuscript evaluation comes with some risks. If the editor is unable to see the full scope of your book, it can make assessment of certain structural issues problematic. 
                    <p>A manuscript assessment (also known as a critique, appraisal, or a structural report) is where a professional editor/assessor reads your manuscript as a whole, paying close attention to your story’s structure, character development, plot development, pace, setting, consistency etc. 
                    <p>The editor will provide a written report on what’s working and what needs improvement. Though the focus of the report will differ for each novel, the following elements are an essential focus. 
                    <ul>
                        <li>Character.</li>
                        <li>Setting.</li>
                        <li>Plot.</li>
                        <li>Voice.</li>
                        <li>Narrative Arc.</li>
                        <li>Dialogue.</li>
                        <li>Tension.</li>
                        <li>Pace.</li>
                    </ul>
                    <p>You can find out more about our <%= link_to "manuscript assessment service here", manuscript_assessment_path %>.</p>
                </div>

            </div>

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">What is Book Editing?</h2>
                    <p>BubbleCow provides a type of editing process called developmental editing, this is also sometimes called content editing, structural editing, story editing, comprehensive editing, macro editing, or even heavy editing.</p> 
                    <p>However, these terms all refer to the same type of editing.</p>
                    <p>Wikipedia describes developmental editing as "significant structuring or restructuring of a manuscript's discourse".</p>
                    <p>In reality, developmental editing is a much more involved process.</p>
                    <p>The editor will examine the entire manuscript in the process, considering all aspects of the book, including its narrative and structure. They will also consider readability, plot, and structure.</p> 
                    <p>Some freelance developmental editors will also look out for line-level problems, such as sentence structure, grammar, and punctuation. The better editors will assess a book's suitability for the marketplace. They may also help you to pinpoint the book's genre correctly.</p>
                    <p>It is also worth noting that we also provide line editing are part of the editing process.</p>
                    <p>Line editing is commonly carried out by book editors within the publishing industry when preparing a book. We feel that including line editing, alongside developmental editing means that writers, especially self-publishing writers, get the best possible service.</p>
                    <p>This means that whilst we are checking your book for structure issues and plot holes (developmental editing), we will also find sentence-level problems such as grammar, punctuation, and readability (line editing).</p>
                    <p>This is all part of the service and is included in the price.</p>
                    <p>You can find out more about our <%= link_to "book editing service here", book_editing_path %>.</p>
                </div>

            </div>

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">What is Mentoring?</h2>
                    <p>Mentoring is sometimes called book mentoring or book coaching.</p>
                    <p>entoring for writers is the process of partnering with an experienced professional writer, book editor, and mentor to help lift your book to a publishable standard.</p>
                    <p>In short, you will work one-on-one with your mentor to make your book the best it can be.</p>
                    <p>Rather than submitting the full written story in one go (as you do with book editing), mentoring allows the writer to work with a book editor from the start of your writing journey.</p>
                    <p>Our system means that you will submit your manuscript with a word count of up to 15,000 words. You pay for this chunk when you submit and nothing else. There is no long-term contract, you just pay for what you need. </p>
                    <p>Once the 'chunk' is edited, you talk to your mentor, work out the problems and the process starts all over again. </p>
                    <p>Simple and cost-effective. </p>
                    <p>You can find out more about our <%= link_to "book mentoring services here", mentoring_path %>.</p>
                </div>

            </div>

        </div>

    </section>



</div>



