<!-- Hero -->
<div class="hero px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Affordable Book Editing Services</h1>
    <div class="col-lg-6 mx-auto">
        <p class="sub-title mb-4">Professional book editors and mentors for serious writers</p>
    </div>
</div>

<div class="container">

    <!-- Benefits -->
    <div class="row justify-content-center section-spacer">

        <!-- book editing -->
        <div class="col-lg-5">
            <div class="card mt-3">
                <div class="card-body text-center">
                    <h2 class="card-title pb-2">Book Editing</h2>
                    <p class="card-text">BubbleCow book editing service provides:</p> 
                    <ul>
                        <li>Combined developmental editing and line editing.</li>
                        <li>Multi-page editor's report.</li>
                        <li>Prompt 28-day turnaround.</li>
                        <li>Affordable price.</li>  
                    </ul> 
                    <div class="d-grid gap-2 pt-2">
                        <%= link_to "Find out more...", book_editing_path , class: "btn btn-lg btn-primary" %>   
                    </div>       
                </div>
            </div>
        </div>

        <!-- Mentoring -->
        <div class="col-lg-5">
            <div class="card mt-3">
                <div class="card-body text-center">
                    <h2 class="card-title pb-2">Mentoring</h2>
                    <p class="card-text">BubbleCow mentoring service provides:</p> 
                    <ul>
                        <li>Partner with a professional book editor.</li>
                        <li>Regular developmental editing and feedback.</li>
                        <li>One-to-one video meetings.</li>
                        <li>No long-term contract!</li>
                    </ul>             
                    <div class="d-grid gap-2 pt-2">
                        <%= link_to "Find out more...", mentoring_path , class: "btn btn-lg btn-primary" %>   
                    </div> 
                </div>
            </div>
        </div>
    
    </div>


    <!-- BubbleCow text -->
    <section class="explanation">

        <div class="row justify-content-md-center section-spacer">

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">Why BubbleCow?</h2>
                    <p>BubbleCow have been providing <%= link_to "professional book editing services since 2007", about_path %>.</p>
                    <p>Our focus has always been on providing affordable book editing services to both traditional and self-publishing writers.</p>
                    <p>We employ a small team of full-time, hand-picked, and specially trained book editors and mentors.</p> 
                    <p>Unlike our competitors, we are not a marketplace for editors or middleman service for book editors.</p>
                    <p>This means that we will not be sending your manuscript to an anonymous freelance book editor. You get to work with a specialist editor, with whom you can build a long-term relationship.</p>
                    <p>It also means that we can provide bespoke, personalized editorial feedback, whilst keeping the costs down and providing professional editing services at a cost that works for you and your budget.</p>
                </div>

            </div>

        </div>

    </section>

    <!-- Testimonials -->
    <section class="index-testimonials">

        <div class="row section-spacer">

            <div class="col-lg-4">

                <div class="card mt-2">
                    <%= image_tag 'banished-love', class: 'card-img-top', alt: 'Banished Love by Ramona Flightner', size: "414x621" %>
                    <div class="card-body">
                        <p class="card-text">"The entire developmental edit was simply extraordinary. The editor’s report was highly detailed, encouraging me to think about my novel in new ways and challenging me to improve my story. I will be using BubbleCow's book editing services for my next novel."</p>
                        <p class="card-text">Ramona Flightner <cite title="Source Title">Banished Saga</cite></p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mt-2">

                <div class="card">
                    <%= image_tag 'taste-of-emotions', class: 'card-img-top', alt: 'Taste of Emotions by David Papini', size: "414x621" %>
                    <div class="card-body">
                        <p class="card-text">“BubbleCow provided my latest book with the most professional, detailed and personal developmental and line editing service I have ever used. I had the real feeling of my novel "being read" and not just edited. This is definitely the best cost to benefit ratio in editing.”</p>
                        <p class="card-text">David Papini <cite title="Source Title">The Taste of Emotions</cite></p>
                    </div>
                </div>

            </div>
            
            <div class="col-lg-4 mt-2">

                <div class="card">
                    <%= image_tag 'stand-and-deliver', class: 'card-img-top', alt: 'Stand and Deliver! by Ian Nichol', size: "414x621" %>
                    <div class="card-body">
                        <p class="card-text">“BubbleCow made formatting suggestions and waffle excisions that will make my book a hugely commercial product. In terms of structure, suggested ideas have allowed me to improve my book's chapter introductions and conclusions enormously.”</p>
                        <p class="card-text">Ian Nichol <cite title="Source Title">Stand and Deliver!</cite></p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Testimonials link -->
    <section class="index-testimonials-link">

        <div class="row">

            <div class="col mt-4">

                <div class="d-grid gap-2">

                    <%= link_to testimonials_path, class: "btn btn-lg btn-outline-primary btn-block" do %>
                            Read <%= @testimonial_count %> testimonials
                    <% end %>

                </div>

            </div>
        </div>
    </section>

    <!-- Sales text -->
    <section class="explanation pb-4">

        <div class="row justify-content-md-center section-spacer">

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">What is Book Editing?</h2>
                    <p>BubbleCow provides a type of editing process called developmental editing, this is also sometimes called content editing, structural editing, story editing, comprehensive editing, macro editing, or even heavy editing.</p> 
                    <p>However, these terms all refer to the same type of editing.</p>
                    <p>Wikipedia describes developmental editing as "significant structuring or restructuring of a manuscript's discourse".</p>
                    <p>In reality, developmental editing is a much more involved process.</p>
                    <p>The editor will examine the entire manuscript in the process, considering all aspects of the book, including its narrative and structure. They will also consider readability, plot, and structure.</p> 
                    <p>Some freelance developmental editors will also look out for line-level problems, such as sentence structure, grammar, and punctuation. The better editors will assess a book's suitability for the marketplace. They may also help you to pinpoint the book's genre correctly.</p>
                    <p>It is also worth noting that we also provide line editing are part of the editing process.</p>
                    <p>Line editing is commonly carried out by book editors within the publishing industry when preparing a book. We feel that including line editing, alongside developmental editing means that writers, especially self-publishing writers, get the best possible service.</p>
                    <p>This means that whilst we are checking your book for structure issues and plot holes (developmental editing), we will also find sentence-level problems such as grammar, punctuation, and readability (line editing).</p>
                    <p>This is all part of the service and is included in the price.</p>
                    <p>You can find out more about our <%= link_to "book editing services here", book_editing_path %>.</p>
                </div>

            </div>

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">What is Mentoring?</h2>
                    <p>Mentoring is sometimes called book mentoring or book coaching.</p>
                    <p>entoring for writers is the process of partnering with an experienced professional writer, book editor, and mentor to help lift your book to a publishable standard.</p>
                    <p>In short, you will work one-on-one with your mentor to make your book the best it can be.</p>
                    <p>Rather than submitting the full written story in one go (as you do with book editing), mentoring allows the writer to work with a book editor from the start of your writing journey.</p>
                    <p>Our system means that you will submit your manuscript with a word count of up to 15,000 words. You pay for this chunk when you submit and nothing else. There is no long-term contract, you just pay for what you need. </p>
                    <p>Once the 'chunk' is edited, you talk to your mentor, work out the problems and the process starts all over again. </p>
                    <p>Simple and cost-effective. </p>
                    <p>You can find out more about our <%= link_to "book mentoring services here", mentoring_path %>.</p>
                </div>

            </div>

            <div class="col-lg-8 mt-2">
            
                <div class="explanation-text">
                    <h2 class="index-subtitle pb-2">When Should You Seek Professional Book Editing Services?</h2>
                    <p>Book editing is an in-depth, labor-intensive process, that requires professional book editors to examine and assess every element of your book, showing what works and what needs to be changed.</p>
                    <p>Our book editors will provide you with a clear roadmap as to the steps that are required to lift your book to a publishable standard.</p>
                    <p>If you are in the 'first draft' stages of the writing process, then a book edit can help you to determine that you are on the right track, that your book has enough potential to make it worth carrying on, and that you are not making any major mistakes.</p>
                    <p>If you are in the final stages of the writing process and are close to publication (or submission to agents/publishers) and feel your book is just about 'ready', then a book edit is the best step.</p>
                    <p>However, if you are just starting out, or have embarked on a new project but are struggling to finish it, then our mentoring service will be a better fit.</p>
                    <p>This will allow you to work one-on-one with a professional editor and writer to help find ways to springboard your writing and get that book finished.</p>              
                </div>

            </div>

        </div>

    </section>



</div>



