<div class="services">

    <!-- Hero -->
    <header class="hero px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Manuscript Assessment</h1>
        <div class="col-lg-6 mx-auto">
            <p class="sub-title mb-4">Give your writing the best chance of succeeding with professional feedback</p>
        </div>
    </header>

    <div class="container">

        <!-- Information pannels -->
        <section class="pannels">

            <div class="row justify-content-md-center">

                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Affordable Editing</h2>
                            <p class="card-text">Impactful editing that will not break the bank, whilst providing the feedback you need to lift your book to the next level.</p> 
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center">Affective Feedback</h2>
                            <p class="card-text">Our feedback is designed to find and solve problems. Our editors will provide solutions, not just find problems.</p> 
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Fast Turnaround</h2>
                            <p class="card-text">Don't pay extra for a fast turnaround. We promise to return all manuscripts within two weeks as standard.</p> 
                        </div>
                    </div>
                </div>
    
            </div>

        </section>

    </div>


    <div class="container">

        <!-- CTA -->
        <section class="cta-form">

            <div class="row justify-content-md-center">
                <div class="col-lg-8">

                    <p class="lead">Complete the form to get started...</p> 

                    <%= form_for @message, url: {controller: "messages", action: "create"} do |form| %> 

                        <div class="card">
                            <div class="card-body">

                                <div class="mb-3">
                                    <%= form.text_field :sender_name, class: 'form-control', placeholder: "What's your name?", required: true %>
                                </div>

                                <div class="mb-3">
                                    <%= form.email_field :sender_email, class: 'form-control', placeholder: "What's your email?", required: true %>
                                </div>

                                <div class="trix-content">
                                <p class="mb-2">Tell us a bit about you and your book...</p>
                                    <%= form.rich_text_area :content, class: 'form-control' %>
                                </div>

                                <%= form.hidden_field :source, value: "Manuscript Assessment" %>

                                <div class="form-group">
                                    <div class="d-grid gap-2 my-4">
                                        <button type="submit" class="btn btn-block btn-primary">Get in touch and find out more...</button>
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                    <% end %>


                </div>
            </div>

        </section>

    </div>

    <!-- Information -->
    <section class="information background">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>What is Manuscript Assessment?</h2>
                    <p>Each year thousands of writers seek professional manuscript assessment services to help lift their current manuscript to the next level. Manuscript assessments are an important part of many writers’ journey to publication.</p>
                    <p>This type of editing service is also known as a critique, appraisal, or a structural report. They are all the same thing.</p>
                    <p>Our service is designed to give a holistic assessment of your book, looking closely at what is working, but more importantly, what is not and what needs to be changed.</p>
                    <p>Its goal is to help you, as a writer, produce the best book possible.</p>
                    <p>In other words, a manuscript assessment is a service that assesses a piece of creative work, either in part or in full (depending on your budget and needs), and provides professional feedback.</p>

                </div>
            </div>
        </div>

    </section>

    <!-- Cost -->
    <section class="information">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>Manuscript Assessment Cost</h2>
                    <p>As you would expect from BubbleCow our pricing is simple and transparent.</p>
                    <p>The price you pay is dependent on the word count of your book.</p> 
                    <p>There are no hidden costs.</p>
                    <p>When comparing prices, it’s also worth noting that we don't charge extra for a 'fast' return (unlike our competitors). All of our assessments will be returned within two weeks.</p>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Word count</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Up to 20,000</td>
        <td><%= @currency_symbol %><%= @manuscript_assessment_cost_upto_20k %></td>
    </tr>
    <tr>
        <td>Up to 40,000</td>
        <td><%= @currency_symbol %><%= @manuscript_assessment_cost_upto_40k %></td>
    </tr>
    <tr>
        <td>Up to 60,000</td>
        <td><%= @currency_symbol %><%= @manuscript_assessment_cost_upto_60k %></td>
    </tr>
    <tr>
        <td>Over 60,000</td>
        <td><%= @currency_symbol %><%= @manuscript_assessment_cost_upto_60k %> + <%= @currency_symbol %><%= @manuscript_assessment_cost_over_60k %>/1000 words over 60K</td>
    </tr>
  </tbody>
</table>


                </div>
            </div>
        </div>

    </section>

    <!-- Testimonials -->
    <section class="information testimonial-background">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-6">

                    <div class="card mb-3 mb-sm-0">
                        <div class="card-body">
                            <p>"When I finished the first draft of <em>An Illustrated Book of Bad Arguments</em>, I wanted someone to tell me how the prose came across and whether it was cohesive enough to provide value to the book's target audience. 
                            <p>BubbleCow did just that. I am grateful for Gary's feedback, which undoubtedly helped improve the book."</p> 
                            <p>Ali Almossawi, author of international bestseller <a href="https://en.wikipedia.org/wiki/An_Illustrated_Book_of_Bad_Arguments"><em>An Illustrated Book of Bad Arguments</em></a>.</p>
                            
                            <div class="d-grid gap-2">
                                <%= link_to testimonials_path, class: "btn btn-outline-primary" do %>
                                    Read <%= @testimonial_count %> more testimonials
                                <% end %>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-sm-4">
                    <img src="https://bubblecow.com/assets/An_Illustrated_Book_of_Bad_Arguments" alt="An Illustrated Book of Bad Arguments" class="post-media img-fluid rounded mx-auto d-block" width="332" height="330">
                </div>
            </div>
        </div>

    </section>

    <!-- Information -->
    <section class="information">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>What you get with a Manuscript Assessment</h2>
                    <p>Once you have submitted your book, it will be assigned to one of our professional editors.</p>
                    <p>The editor will carefully read your entire work. They will determine what is and isn't working in your book and write a comprehensive report.</p>
                    <p>Though the focus of the report will differ for each book, the following elements are an essential focus for fiction.</p>
                    <ul>
                        <li>Character.</li>
                        <li>Setting.</li>
                        <li>Plot.</li>
                        <li>Voice.</li>
                        <li>Narrative Arc.</li>
                        <li>Dialogue.</li>
                        <li>Tension.</li>
                        <li>Pace.</li>
                    </ul>
                    <p>If you are a non-fiction writer, the approach of the manuscript assessor is the same, but the focus is on different elements.</p>
                    <p>The report will focus on the problems the professional editor finds, but will also provide solutions you can immediately apply to your writing.</p>
                    <p>The report is a roadmap to lift your book to the next level.</p>


                </div>
            </div>
        </div>

    </section>


    <!-- The Process -->
    <section class="information background">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>The Process</h2>
                    <p>The process for your manuscript assessment is as follows:</p>
                    <ol>
                        <li>Add your name and email to the form at the top of this page. At the same time, tell us a little about you and your book. No need to submit a manuscript or make any payment at this stage.</li>
                        <li>We will get back to you within twenty-four hours to discuss your book and what we can do to help you. We will also provide a price based on your book’s word count.</li>
                        <li>Once you are happy, you start the process by submitting your manuscript.</li>
                        <li>We send out an email invoice, and you pay online. We use PayPal as a merchant, which means you can pay with any major card from anywhere in the world. You don’t need a PayPal account.</li>
                        <li>Once payment is received, we will begin the assessment process.</li>
                        <li>Within two weeks you will receive your editor's report.</li>
                        <li>You assess the feedback and return with any questions you may have.</li>
                    </ol>

                </div>
            </div>
        </div>

    </section>

    <!-- Information -->
    <section class="information">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                   <h2>When should you get a manuscript assessment?</h2>
                    <p>Deciding when the time is right for a manuscript assessment is a personal choice, depending on you and your book.</p>
                    <p>However, there are several common scenarios in which a professional manuscript evaluation is the correct choice.</p>
                    <h3>You are stuck and don't know what to do next?</h3>
                    <p>Let's face it, creative writing is hard.</p>
                    <p>Imagine working on the first draft of a novel, but you have come to a grinding halt; perhaps the book has lost momentum, or the structure isn't working the way you had hoped, or you have just run out of ideas.</p>
                    <p>At this point, you don't want to invest in a full developmental edit and just need some guidance to kickstart the writing process; this is when a manuscript assessment is a perfect choice.</p>
                    <p>An assessment will give you a clear outline of what is working and what you need to do to get the book to the next stage, without breaking the bank.</p>
                    <h3>You are worried your book is just not good enough</h3>
                    <p>After investing hours developing your book, be that fiction or non-fiction, you are now at a stage where you are just not sure that your work is good enough.</p>
                    <p>You have been focusing on writing for so long that you can't see the wood for the trees.</p>
                    <p>This is when an assessment is a great option.</p>
                    <p>A professional assessment of your work will give you a clear indication of what you are doing right and what's not working the way you had hoped. The evaluation will provide you with a clear roadmap to what you need to do to lift the book to a publishable standard.</p>
                    <h3>It's just the wrong time for developmental editing</h3>
                    <p>A professional developmental edit is an essential part of the publication process, but only when the time is right.</p>
                    <p>A developmental edit is an intense and comprehensive assessment of every element of your book. It’s what you need when you have taken your writing as far as you possibly can without outside help.</p>
                    <p>If you are confident that your book is close to being publication-ready, it is probably time to invest in developmental editing.</p>
                    <p>However, what if you are not that confident your book is ready for the world?</p>
                    <p>What if you are still at the first draft stage but want professional feedback?</p>
                    <p>What if you know there are issues with your story, but you still need some guidance on the best way forward?</p>
                    <p>In these situations, a full developmental edit is just not the right choice. Instead, a manuscript assessment will give you the feedback you need.</p>
                    <h3>You are thinking about approaching an agent</h3>
                    <p>If you are considering the traditional publishing route, then, at some point, you will need to consider a literary agent before you can approach a publishing house.</p>
                    <p>However, you know you only get one chance with a literary agent, and you want to make sure there are no glaring issues with your book.</p>
                    <p>The last thing you want is for your book to be rejected because you missed a simple solution to fix the problem.</p>
                    <p>This is when a manuscript appraisal is a good option. It will give you an assessment of your book, without having to invest in a full developmental edit.</p>
                    <h3>Your budget is tight</h3>
                    <p>Let's not kid ourselves; publishing a book requires a budget. Sometimes, you just don't have the money to stretch to all the bells and whistles.</p>
                    <p>While an assessment is not a replacement for a more comprehensive developmental edit, it will provide you with essential feedback at a price that will fit your budget.</p>
                    <p>So, when the money's tight, but you still need professional feedback, an assessment might just be the answer.</p>

                </div>
            </div>
        </div>

    </section>

</div>



