<div class="services">

    <!-- Hero -->
    <header class="hero px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Manuscript Assessment Offer</h1>
        <div class="col-lg-6 mx-auto">
            <p class="sub-title mb-4">One-off weekend offer for writers [save over 50%]</p>
            <p class="display-5"><strike>$1330</strike></p>
            <p class="display-6">$600</p>
        </div>
    </header>

    <div class="container">

        <!-- Information pannels -->
        <section class="pannels">

            <div class="row justify-content-md-center">

                <div class="col-sm-4 mt-2 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Manuscript Assessment</h2>
                            <p class="card-text">A full manuscript assessment of your book at a discounted price.</p> 
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mt-2 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center">Early Course Access</h2>
                            <p class="card-text">Early access to three courses: Writing Great Dialogue, How to Write a Fiction Book Proposal, and How to Self-edit.</p> 
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mt-2 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Book Proposal or Blurb</h2>
                            <p class="card-text">Editorial guidance on your book proposal OR assistance in writing your Amazon blurb.</p> 
                        </div>
                    </div>
                </div>
    
            </div>

        </section>

    </div>


    <div class="container">

        <!-- CTA -->
        <section class="cta-form">

            <div class="row justify-content-md-center">
                <div class="col-lg-8">

                    <p class="lead">Complete the form to get started...</p> 

                    <%= form_for @message, url: {controller: "messages", action: "create"} do |form| %> 

                        <div class="card">
                            <div class="card-body">

                                <div class="mb-3">
                                    <%= form.text_field :sender_name, class: 'form-control', placeholder: "What's your name?", required: true %>
                                </div>

                                <div class="mb-3">
                                    <%= form.email_field :sender_email, class: 'form-control', placeholder: "What's your email?", required: true %>
                                </div>

                                <div class="trix-content">
                                <p class="mb-2">Tell us a bit about you and your book...</p>
                                    <%= form.rich_text_area :content, class: 'form-control' %>
                                </div>

                                <%= form.hidden_field :source, value: "Manuscript Assessment May 2022 Offer" %>

                                <div class="form-group">
                                    <div class="d-grid gap-2 my-4">
                                        <button type="submit" class="btn btn-block btn-primary">Complete form to secure your place...</button>
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                    <% end %>


                </div>
            </div>

        </section>

    </div>

    <!-- Information -->
    <section class="information background">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>What You Get</h2>
                    <p>If you book a manuscript assessment by Sunday, 29 May, 2022, you will receive the following:</p>
                    <ul>
                        <li>A <%= link_to "full manuscript assessment", manuscript_assessment_path %> of your book at a discounted price.</li> 
                        <li>Editorial guidance on your <strong>book proposal</strong> for agents OR assistance in writing your book's promotional <strong>blurb for Amazon</strong>.</li>
                        <li>Early access to the following <strong>courses</strong>:</li>
                        <ul>
                            <li>Writing Great Dialogue.</li>
                            <li>How to Write a Fiction Book Proposal.</li>
                            <li>How to Self-edit.</li>
                        </ul>
                    </ul>
                    <p>In short, this means you get the manuscript assessment and help with your book proposal or book blurb, AND access to our new upcoming courses.</p> 
                    <p>So what would this usually cost?</p> 
                    <p>Well, to work this out, we need to assume that you could buy the book proposal service (or book blurb service), where BubbleCow founder Gary Smailes works with you on a one-to-one basis, which you can't.</p>
                    <p>Here's the breakdown of the full cost:</p>
                    <ul>
                        <li>Manuscript assessment - $680.</li>
                        <li>Course access - $400.</li>
                        <li>Book proposal feedback/personal assistance in writing your book's promotional blurb for Amazon - $250.</li>
                    </ul>
                    <p>This is a total of $1330.</p>
                    <p>But this is a one-off discounted offer.</p>
                    <p>So…</p>
                    <p class="lead">If you book a place for this special offer by this Sunday (29), you will only be charged $600.</p> 
                    <p>That's a saving of $730.</p> 
                </div>
            </div>
        </div>

    </section>


    <!-- Information -->
    <section class="information">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>What is Manuscript Assessment?</h2>
                    <p>Each year thousands of writers seek professional manuscript assessment services to help lift their current manuscript to the next level. Manuscript assessments are an important part of many writers’ journey to publication.</p>
                    <p>This type of editing service is also known as a critique, appraisal, or a structural report. They are all the same thing.</p>
                    <p>Our service is designed to give a holistic assessment of your book, looking closely at what is working, but more importantly, what is not and what needs to be changed.</p>
                    <p>Its goal is to help you, as a writer, produce the best book possible.</p>
                    <p>In other words, a manuscript assessment is a service that assesses a piece of creative work, either in part or in full (depending on your budget and needs), and provides professional feedback.</p>
                    <div class="d-grid gap-2">
                        <%= link_to "Find out more about our manuscript assessment service", manuscript_assessment_path, class: "btn btn-outline-primary" %>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Cost -->
    <section class="information backgroud">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>Early Course Access</h2>
                    <p>This offer will give you early access to three courses:</p>
                    <ul>
                        <li>Writing Great Dialogue.</lI>
                        <li>How to Write a Fiction Book Proposal.</li>
                        <li>How to Self-edit.</li>
                    </ul>
                    <p>The courses are yet to be launched. They are text-based courses and will be available on our site.</p>
                    <p>Writing Great Dialogue and How to Write a Fiction Proposal have been written and are currently being copy-edited. You will have access to these two courses within a week.</p>
                    <p>Book Marketing for Writers and How to Self-edit are partially written and will take a little longer to go live. We are planning to have these ready by the end of June 2022.</p>

                </div>
            </div>
        </div>

    </section>

    <!-- Testimonials -->
    <section class="information testimonial-background">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-6">

                    <div class="card mb-3 mb-sm-0">
                        <div class="card-body">
                            <p>"This was far the best and easiest editing process that I have been through. Gary’s editing took my book to the next level.</p>
                            <p>I am delighted with the outcome and I will definitely use Bubblecow to edit my next novel. Highly recommended."</p>
                            <p>SL Beaumont, award winner author of the <a href="https://www.slbeaumont.com/"><em>The Kat Munro Thrillers</em></a> series.</p>
                            
                            <div class="d-grid gap-2">
                                <%= link_to testimonials_path, class: "btn btn-outline-primary" do %>
                                    Read <%= @testimonial_count %> more testimonials
                                <% end %>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-sm-4">
                    <%= image_tag("death_count", alt: "SL Beaumont - Death Count", class: "post-media img-fluid rounded mx-auto d-block", size: "180x280")%>
                </div>
            </div>
        </div>

    </section>

    <!-- Information -->
    <section class="information">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>Book Proposal OR Amazon blurb</h2>
                    <p>As part of this offer, you will get personal, one-to-one help with either creating a book proposal or writing your Amazon blurb.
                    <p><strong>Book Proposal</strong></p>
                    <p>It is well known that you only get one chance to pitch a book to an agent, so it's essential your book proposal is the best it can be.</p>
                    <p>This service will see BubbleCow owner, Gary Smailes, working one-on-one with writers to create and optimize their book proposal.</p>
                    <p>The service will help you to write your synopsis and fine-tune your cover letter to ensure that you are pitching your book to the correct agents.</p>
                    <p><strong>Amazon Blurb</strong></p>
                    <p>It is essential that you provide the best possible teaser for your book on Amazon.</p>
                    <p>A great book blurb is an important stepping stone in turning a potential book buyer into a committed reader and fan.</p>
                    <p>This service will first teach you how to write a blurb that will capture readers, and then BubbleCow founder, Gary Smailes, will work with you directly to optimize the text in the best way possible.</p>
                   
                </div>
            </div>
        </div>

    </section>


    <!-- The Process -->
    <section class="information background">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">

                    <h2>Stuff to Know</h2>
                    <p>The manuscript assessment offer is for books up to 60K. If your book is longer than this, it is not a problem, but we will need to charge a little more, we can work something out. It will still be at a discounted price.</p>
                    <p>You can redeem your manuscript assessment at any time; there's no time limit. If you are not ready to submit now, that's fine; just submit when you are ready. This said you still need to secure your place and pay by Sunday, 29 May 2022.</p>
                    <p>The courses are yet to be launched. They are text-based courses and will be available on our site. Writing Great Dialogue and How to Write a Fiction Proposal have been written and are currently being copy-edited. You will have access to these two courses within a week. Book Marketing for Writers and How to Self-edit are partially written and will take a little longer to go live. We are planning to have these ready by the end of June 2022.</p>
                    <p>You have a choice of feedback - either help with your book proposal OR help in writing your Amazon blurb. You can't do both. As with the manuscript assessment, you can redeem this at any point but need to secure a spot this weekend.</p>

                </div>
            </div>
        </div>

    </section>

</div>




