<!-- Hero --> 
<section class="my-5 pb-5 home-page__hero">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg home-page__hero-container">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 home-page__hero-content">
            <h1 class="display-4 fw-bold lh-1 pb-3 home-page__hero-title">Book Editing: From Draft to Publication</h1>
            <p class="lead home-page__hero-description">Affordable Book Editing Services: Enhancing Your Book's Plot, Readability, and Market Fit.</p>
            <%= button_to "Explore Our Services", root_path, class: "btn btn-outline-primary" %>    
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg d-none d-lg-block home-page__hero-image-container">
            <img class="rounded-3 home-page__hero-image" src="https://media.istockphoto.com/id/1216763292/photo/smiling-mature-woman-writing-in-a-notebook-while-working-from-home.jpg?s=170667a&w=0&k=20&c=YtcyMKATVzpMsVtchVmx_AZCectfbX-z0uCG081ay7o=" alt="" width="720">
        </div>
    </div>
</section>

<!-- Products -->
<section class="home-page__services">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="home-page__services-header"></h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex align-items-stretch">

            <!-- manuscript assessment -->
            <div class="col mb-2">
                <div class="card mb-4 rounded-3 shadow-sm home-page__service-card h-100">
                    <div class="card-header py-3">
                        <h2 class="my-0 fw-normal">
                            <%= link_to ("Manuscript" + "<br>" + "Assessment").html_safe, manuscript_assessment_path, class: "home-page__service-card-title" %>
                        </h2>
                    </div>
                    
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title"><%= @price_for_manuscript_assessment %><small class="text-body-secondary fw-light">/1000 words</small></h2>
                        <p class="card-text">Holistic assessment for authors looking to discover what's wrong with their book.</p>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Comprehensive editing.</li>
                            <li>Multi-page editor's report.</li>
                            <li>Fast turnaround.</li>
                        </ul>
                        <%= link_to "Find out more...", manuscript_assessment_path, class: "w-100 btn btn-lg btn-primary" %>
                    </div>
                </div>
            </div>
                        <!-- Developmental editing -->
            <div class="col mb-2">
                <div class="card mb-4 rounded-3 shadow-sm home-page__service-card h-100">
                    <div class="card-header py-3">
                        <h2 class="my-0 fw-normal">
                            <%= link_to ("Developmental" + "<br>" + "Editing").html_safe, developmental_editing_path, class: "home-page__service-card-title" %>
                        </h2>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title pricing-card-title"><%= @price_for_developmental_editing %><small class="text-body-secondary fw-light">/1000 words</small></h2>
                        <p class="card-text">Publisher standard feedback for authors preparing their books for publication.</p>
                        <ul class="list-unstyled mt-3 mb-4">
                        <li>Developmental editing.</li>
                        <li>Combined line editing.</li>
                        <li>Comprehensive editor's report.</li>
                        </ul>
                        <%= link_to "Find out more...", developmental_editing_path, class: "w-100 btn btn-lg btn-primary" %>
                    </div>
                </div>
            </div>

            <!-- Copy editing -->
            <div class="col mb-2">
                <div class="card mb-4 rounded-3 shadow-sm home-page__service-card h-100">
                    <div class="card-header py-3">
                        <h2 class="my-0 fw-normal">
                            <%= link_to ("Copy" + "<br>" + "Editing").html_safe, copy_editing_path, class: "home-page__service-card-title" %>
                        </h2>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title pricing-card-title"><%= @price_for_copy_editing %><small class="text-body-secondary fw-light">/1000 words</small></h2>
                        <p class="card-text">Insanely detailed professional feedback for authors ready to publish their manuscript.</p>
                        <ul class="list-unstyled mt-3 mb-4">
                        <li>Copy editing.</li>
                        <li>Detailed editor's report.</li>
                        <li>Fast turnaround.</li>
                        </ul>
                        <%= link_to "Find out more...", copy_editing_path, class: "w-100 btn btn-lg btn-primary" %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




<!-- Why Choose BubbleCow -->
<section class="home__why-choose py-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="section-title">Why Choose BubbleCow?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <!-- Professional Services -->
                <div class="d-flex mb-4 align-items-start">
                    <div class="icon me-4">
                        <i class="bi bi-book text-primary"></i>
                    </div>
                    <div>
                        <h3 class="feature-title mb-2">Professional Services</h3>
                        <p>BubbleCow has been at the forefront of professional book editing since 2007. Our seasoned team of full-time, hand-picked, and specially trained book editors and mentors are dedicated to elevating your manuscript to publication standards.</p>
                    </div>
                </div>
                <!-- Affordable Pricing -->
                <div class="d-flex mb-4 align-items-start">
                    <div class="icon me-4">
                        <i class="bi bi-cash text-primary"></i>
                    </div>
                    <div>
                        <h3 class="feature-title mb-2">Affordable Pricing</h3>
                        <p>We pride ourselves on offering affordable book editing services to both traditional and self-publishing writers without compromising on quality. Our pricing structure is designed to accommodate your budget, making professional editing accessible.</p>
                    </div>
                </div>
                <!-- Personalized Experience -->
                <div class="d-flex mb-4 align-items-start">
                    <div class="icon me-4">
                        <i class="bi bi-person-check text-primary"></i>
                    </div>
                    <div>
                        <h3 class="feature-title mb-2">Personalized Experience</h3>
                        <p>At BubbleCow, you're not just another manuscript. Unlike marketplace models, we connect you with a specialist editor to foster a long-term relationship. This personalized approach ensures a bespoke editing service tailored to your manuscript's needs while keeping costs affordable and transparent.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Our Process -->
<section class="py-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="section-title">Our Process</h2>
                <p class="text-muted">A step-by-step guide to how we work with you to prepare your book for publication.</p>
            </div>
        </div>
        <div class="row">
            <!-- Step 1 -->
            <div class="col-md-2">
                <div class="process-step text-center"">
                    <img src="https://cdn.discordapp.com/ephemeral-attachments/1159066532698128445/1166074107662700564/the_endless_knot_office_or_desk_background_IconGraphic_A_graphi_6787224e-6723-465f-a329-e38c14c01a75.png?ex=65492a23&is=6536b523&hm=03f8413b643a2adbb5e4669fe191690a02dc98e615ed75e7d170b647ac50cc5c&" alt="Step 1" class="img-fluid mb-3">
                    <h4>Step 1</h4>
                    <h5 class="text-center">Submission</h5>
                    <p class="text-muted text-center">Submit your manuscript and tell us your publication goals.</p>
                </div>
            </div>
            <!-- Step 2 -->
            <div class="col-md-2">
                <div class="process-step text-center">
                    <img src="https://cdn.discordapp.com/attachments/1159066532698128445/1166075518429433996/the_endless_knot_IconGraphic_deskoffice_based_on_this_1950cd87-507b-45fb-8706-f95ffae3804b.png?ex=65492b74&is=6536b674&hm=1b9de040ed372eb45671878abb70d7e1ad957bc4be1388c14e78445b401b964a&" alt="Step 2" class="img-fluid mb-3">
                    <h4>Step 2</h4>
                    <h5>Assignment</h5>
                    <p class="text-muted">We assign the best-suited editor from our small team.</p>
                </div>
            </div>
            <!-- Step 3 -->
            <div class="col-md-2">
                <div class="process-step text-center">
                    <img src="https://cdn.discordapp.com/attachments/1159066532698128445/1166076013546057815/the_endless_knot_IconGraphic_A_pen_icon_or_an_icon_representing_d0c98b23-7b4b-4371-b544-afe7108e62f8.png?ex=65492bea&is=6536b6ea&hm=7acdd6301b0d119a72769bb8fd138c0f3175551b2e63944b1a67ba3d5f7eced3&" alt="Step 3" class="img-fluid mb-3">
                    <h4>Step 3</h4>
                    <h5>Editing</h5>
                    <p class="text-muted">Your editor meticulously reads and edits your manuscript.</p>
                </div>
            </div>
            <!-- Step 4 -->
            <div class="col-md-2">
                <div class="process-step text-center">
                    <img src="https://cdn.discordapp.com/attachments/1159066532698128445/1166077032522854430/the_endless_knot_Step_4_Feedback_and_Revisions_IconGraphic_A_ch_6f8c51e0-bfb9-409a-8643-7a08d5ca3a3a.png?ex=65492cdd&is=6536b7dd&hm=32cdd6d0b174f1fe8d218852658337a05cd3080cb5eecc4afa79f6a078bdda31&" alt="Step 4" class="img-fluid mb-3">
                    <h4>Step 4</h4>
                    <h5>Feedback</h5>
                    <p class="text-muted">We provide feedback and suggested revisions for your book.</p>
                </div>
            </div>
            <!-- Step 5 -->
            <div class="col-md-2">
                <div class="process-step text-center">
                    <img src="https://cdn.discordapp.com/attachments/1159066532698128445/1166077753121050715/the_endless_knot_IconGraphic_A_checkmark_tick_icon_on_a_documen_5c61dba3-53ba-4e84-9678-7a083a65f66e.png?ex=65492d89&is=6536b889&hm=7c827959b9e679fd597dbb7690ddbb2d468004b6d0b3ca3876b30d36e99c1434&" alt="Step 5" class="img-fluid mb-3">
                    <h4>Step 5</h4>
                    <h5>Report</h5>
                    <p class="text-muted">We revise feedback and prepare editor's report your manuscript.</p>
                </div>
            </div>
            <!-- Step 6 -->
            <div class="col-md-2">
                <div class="process-step text-center">
                    <img src="https://cdn.discordapp.com/attachments/1159066532698128445/1166078152825643068/the_endless_knot_IconGraphic_A_download_icon_or_a_document_icon_8ff7e0f4-060a-438d-bae4-7d345f1cd270.png?ex=65492de8&is=6536b8e8&hm=10d614e8c4737944485dfac8410508bf79a3544d52976c98b4a5a5f0ef3bc7ca&" alt="Step 6" class="img-fluid mb-3">
                    <h4>Step 6</h4>
                    <h5>Delivery</h5>
                    <p class="text-muted">We return your manuscript and you receive your feedback.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="pt-5">
    <div class="row justify-content-center product-page__section">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="card flex-grow-1 mt-2 h-100">
                        <%= image_tag 'banished-love', class: 'card-img-top img-fluid', alt: 'Banished Love by Ramona Flightner' %>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text mb-auto">"The entire developmental edit was simply extraordinary. The editor’s report was highly detailed, encouraging me to think about my novel in new ways and challenging me to improve my story. I will be using BubbleCow's editing services for my next novel."</p>
                            <p class="card-text">Ramona Flightner <cite title="Source Title">Banished Saga</cite></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="card flex-grow-1 mt-2 h-100">
                        <%= image_tag 'taste-of-emotions', class: 'card-img-top img-fluid', alt: 'Taste of Emotions by David Papini' %>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text mb-auto">“BubbleCow provided my latest book with the most professional, detailed and personal developmental and line editing service I have ever used. I had the real feeling of my novel "being read" and not just edited. This is definitely the best cost to benefit ratio in editing.”</p>
                            <p class="card-text">David Papini <cite title="Source Title">The Taste of Emotions</cite></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="card flex-grow-1 mt-2 h-100">
                        <%= image_tag 'stand-and-deliver', class: 'card-img-top img-fluid', alt: 'Stand and Deliver! by Ian Nichol' %>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text mb-auto">“BubbleCow made formatting suggestions and waffle excisions that will make my book a hugely commercial product. In terms of structure, suggested ideas have allowed me to improve my book's chapter introductions and conclusions enormously.”</p>
                            <p class="card-text">Ian Nichol <cite title="Source Title">Stand and Deliver!</cite></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Testimonials button -->
<section class="testimonials-button">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="row justify-content-center">
                    <div class="col mt-4">
                        <div class="d-grid gap-2 testimonials-button__grid">
                            <%= link_to testimonials_path, class: "btn btn-lg btn-outline-primary btn-block testimonials-button__link" do %>
                                Read <%= @testimonial_count %> testimonials
                            <% end %>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FAQ Section -->
<section id="faq-section" class="faq-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="row justify-content-center">
    <div itemscope itemtype="https://schema.org/FAQPage" class="faq container">
        <h2 class="faq__title text-center mb-5" id="faq">Frequently Asked Questions</h2>
        <div class="accordion" id="faqAccordion">
            <!-- FAQ Item 1 -->
            <div class="faq__block card mb-2">
                <h4 class="faq__question card-header" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How to do book editing?
                </h4>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div itemprop="text" class="faq__answer">
                                <p>Book editing is a multi-step process that involves assessing and revising a manuscript to improve its clarity, coherence, and overall quality. Here's a simplified approach to book editing:</p>
                                <ol>
                                    <li><strong>Self-Editing:</strong> Before seeking professional help, authors should conduct several rounds of self-editing to catch obvious errors and refine the manuscript.</li>
                                    <li><strong>Professional Editing:</strong> Engage a professional editor to provide feedback and make corrections. This typically includes developmental editing to refine the story, and copy editing to correct grammar and consistency issues.</li>
                                    <li><strong>Revisions:</strong> Use the feedback from the editor to make necessary revisions.</li>
                                    <li><strong>Proofreading:</strong> After revisions, a proofreader should review the manuscript for any remaining errors before publication.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQ Item 2 -->
            <div class="faq__block card mb-2">
                <h4 class="faq__question card-header" id="headingTwo" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How much do book editors get paid UK?
                </h4>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div itemprop="text" class="faq__answer">
                                <p>In the UK, book editors can earn anywhere from £20 to £50 per hour depending on their experience, the complexity of the project, and the type of editing required. Freelance editors may set their own rates, while editors employed by publishing houses or editing services may have fixed salaries.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQ Item 3 -->
            <div class="faq__block card mb-2">
                <h4 class="faq__question card-header" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Why is book editing so expensive?
                </h4>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div itemprop="text" class="faq__answer">
                                <p>Book editing is a labor-intensive process that requires a high degree of skill, knowledge, and experience. Editors need to meticulously review and revise a manuscript, which can be time-consuming. Furthermore, the value of a professional editor's expertise in enhancing the quality and marketability of a book justifies the cost.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAQ Item -->
            <div class="faq__block card mb-2">
                <h4 class="faq__question card-header" id="headingFive" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How much does it cost to edit a whole book?
                </h4>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div itemprop="text" class="faq__answer">
                                <p>The cost of editing a whole book depends on the type of editing and the length of your book. Developmental editing is the most in-depth, and therefore most expensive type of editing. Manuscript assessment is less detailed and therefore less costly. Copy editing is the most affordable type of editing.</p>
                                <p>A typical novel is 80,000 words and, at <%= @price_for_developmental_editing %> per 1000 words for developmental editing, this would cost <%= display_cost(@price_for_developmental_editing, @country) %>.</p>
                                <p>A manuscript assessment for 80,000 words would be <%= @price_for_manuscript_assessment %> per 1000 words and would cost <%= display_cost(@price_for_manuscript_assessment, @country) %>.</p>
                                <p>Copy editing for 80,000 words would be <%= @price_for_copy_editing %> per 1000 words and would cost <%= display_cost(@price_for_copy_editing, @country) %>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>
</div>
</div>
</div>
        </div>
    </div>
</section>