<div class="card">
  <div class="card-body">
    <%= form_for [@book], data: { controller: "genre-select" } do |form| %>

      <!-- Error Messages -->
      <% if @book.errors.any? %>
        <div id="error_explanation" class="form__data-item">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- Book Title -->
      <div class="form__group">
        <label for="bookTitle" class="form__label">Book Title:</label>
        <p class="form__explainer-text">Use the current working title of your book, this can be altered at a later date.</p>
        <%= form.text_field :title, value: @book.title&.titleize, class: 'form-control form__input', placeholder: "Add your book's title.", required: true %>
      </div>

      <!-- Word Count -->
      <div class="form__group">
        <label for="bookWordCount" class="form__label">Word Count:</label>
        <p class="form__explainer-text">If you are not sure of the exact word count just make an educated guess, this can be updated later.</p>
        <%= form.number_field :word_count, class: 'form-control form__input', placeholder: "Add your book's word count.", required: true %>
      </div>

      <!-- Language -->
      <div class="form__group">
        <label for="bookLanguage" class="form__label">Type of English:</label>
        <p class="form__explainer-text">The choice of type of English. This will be used for line editing and other services.</p>
        <%= form.select :language, ['American English', 'British English', 'Canadian English', 'Australian English'], 
                {prompt: 'Choose your language...'}, 
                {class: 'form-control form__input', required: true} %>
      </div>

      <!-- Book Genre -->
      <div class="form__group">
        <label for="bookLanguage" class="form__label">Book Genre:</label>
        <p class="form__explainer-text">Please select the genre that best fits your book. If unsure, just pick 'fiction' or 'non-fiction'.</p>
        <%= form.select :genre, options_from_collection_for_select(@genres, "genre_type", "genre_type", @book.genre), { prompt: 'Select the genre of your book...' }, class: 'form-select form__input', required: true %>
      </div>

      <!-- Book Description -->
      <div class="form__group">
        <label for="bookDescription" class="form__label">Book Description:</label>
        <p class="form__explainer-text">Tell us about your book. Include any information that you feel will help the editor. Please include any information about elements you are either having issues with or wish us to consider in detail.</p>
        <%= form.rich_text_area :description, type: "text", class: "form__input" %>
      </div>

      <!-- Admin Section -->
      <div class="form__group">
        <% if current_user.admin? %>
          <label for="bookUser" class="form__label">Writer:</label>
          <p class="form__explainer-text">Only visible to admin, this defaults to the current user for writers.</p>
          <%= form.collection_select :user_id, @writers, :id, :full_name, {}, { class: 'form-control form__input' } %>
        <% else %>
          <%= form.hidden_field :user_id, value: current_user.id %>
        <% end %>
      </div>

      <!-- Submit Button -->
      <div class="form__submit">
        <div class="d-grid gap-2">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
