
<div class="form">
    <%= form_for [@user, @book], data: { controller: "genre-select" } do |form| %>

        <% if @book.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
                <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <!-- Book Title -->
        <div class="input">
            <label for="bookTitle" class="form-label form-label-blue">Book Title:</label>
            <p class="form-text-small">Use the current working title of your book, this can be altered at a later date.</p>
            <%= form.text_field :title, value: @book.title&.titleize, class: 'form-control form-select-lg mt-1', placeholder: "Add your book's title.", required: true %>
        </div>

        <!-- Word Count -->
        <div class="input">
            <label for="bookWordCount" class="form-label form-label-blue">Word Count: </label>
            <p class="form-text-small">If you are not sure of the exact word count just make an educated guess, this can be updated later.</p>
            <%= form.number_field :word_count, class: 'form-control form-select-lg mt-1', placeholder: "Add your book's word count.", required: true %>
        </div>

        <!-- Language -->
        <div class="input">
            <label for="bookLanguage" class="form-label form-label-blue">Language:</label>
            <p class="form-text-small">The choice of type of English. This will be used of line editing and other services.</p>
            <%= form.select :language, ['American English', 'British English', 'Canadian English', 'Australian English'], 
                    {prompt: 'Choose your language...'}, 
                    {class: 'form-control form-select-lg mt-1', required: true} %>
        </div>

        <!-- Book genre -->
        <div class="input pt-3">
          <h2>Book Genre</h2>
          <p class="form-text">Please select the genre that best fits your book. If unsure, just pick 'fiction' or 'non-fiction'.</p>
          <%= form.select :genre, options_from_collection_for_select(@genres, "genre_type", "genre_type", @book.genre), { prompt: 'Select the genre of your book...' }, class: 'form-select', required: true %>
        </div>

        <!-- Book description -->
        <div class="input">
            <label for="bookDescription" class="form-label form-label-blue">Book Description:</label>
            <p class="form-text-small">Tell us about your book. Include any information that you feel will help the editor. Please include any information about elements you are either having issues with or wish us to consider in detail.</p>
            <%= form.rich_text_area :description, type: "text", class: "" %>
        </div>

        <!--Hidden unless admin -->
        
        <div class="input">
            <% if current_user.admin? %>
                <label for="bookUser" class="form-label form-label-blue">Writer: </label>
                <p class="form-text-small">Only visiable to admin, this defaults to current user for writers.</p>
                <%= form.collection_select :user_id, @writers, :id, :full_name, {}, { class: 'form-control mt-1' } %>
            <% else %>
                <%= form.hidden_field :user_id, value: current_user.id %>
            <% end %>
        </div>

        <div class="input mt-3">
            <div class="d-grid gap-2">
                <%= form.submit class: 'btn btn-primary' %>
            </div>
        </div>

    <% end %>
</div>