<section>
  <!-- Title -->
  <div class="row">
    <div class="col">
      <h1 class="title"><%= @book.title.titleize %></h1>
    </div> 
  </div>

  <!-- Metadata -->
  <div class="row">
    <div class="col">
      <div class="metadata">
        <div class="box">
          <%= current_user&.admin? ? (link_to @book.user.full_name, user_path(@book.user)) : @book.user.full_name %> | <%= @book.word_count %> | <%= @book.language %> | <%= @book.genre %>
            <%= link_to edit_user_book_path(@user, @book), data: { bs_toggle: "tooltip", bs_placement: "top", bs_title: "Edit Book" } do %>
              <i class="bi bi-gear"></i>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="row mb-3">
    <div class="col">
      <div class="description mb-2">

        <div class="d-grid gap-2">
          <button data-action="click->toggle#switch" data-controller="toggle" data-toggle-target="trigger" class="btn btn-light d-flex justify-content-between align-items-center pb-2" type="button" data-bs-toggle="collapse" data-bs-target="#formCollapse" aria-expanded="false" aria-controls="formCollapse">
            <span><i class="bi bi-body-text"></i> Book Description</span> 
            <i data-toggle-target="icon" class="bi bi-arrow-down"></i>
          </button>
        </div>

        <div class="collapse py-3 box" id="formCollapse">
          <%= form_for([@book.user, @book]) do |form| %>

            <div class="input">
              <%= form.rich_text_area :description, type: "text", class: "form-control", rows: "35" %>
            </div>

            <div class="button d-grid gap-2">
              <%= form.button "Update Description", type: "submit", class: 'btn btn-outline-primary btn-sm my-2', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}  %>
            </div>
          <% end %>
        </div>

      </div>    
    </div>
  </div>
</section>


<section>

  <!-- Orders -->
  <% if @orders.any? %>
    
    <% @orders.each do |order| %>

      <section>
        <div class="row d-flex">
            
            <!-- Status Message -->
            <div class="col-md-8 col-12 d-flex">
                <div class="box flex-grow-1">
                    
                  <h2><%= order.product.name %></h2> 
                  <%= render partial: state_partial(order), locals: { order: order } %>
        
                </div>
            </div>

            <!-- Files -->
            <div class="col-md-4 col-12 d-flex">
                <div class="box flex-grow-1">
                    <h2>Files</h2>

                    <ul class="no-disc-list">
                      <% if order.initial_unedited_manuscript.attached? %>
                        <li data-bs-toggle="tooltip" title="<%= order.initial_unedited_manuscript.filename %>">
                          <i class="bi bi-file-earmark-text"></i>
                          <%= link_to "Unedited Manuscript", rails_blob_path(order.initial_unedited_manuscript, disposition: "attachment") %>
                        </li>
                      <% end %>

                      <% if order.edited_manuscript_for_paid_developmental_edit.attached? %>
                        <li data-bs-toggle="tooltip" title="<%= order.edited_manuscript_for_paid_developmental_edit.filename %>">
                          <i class="bi bi-file-earmark-text"></i>
                          <%= link_to "Edited Manuscript", rails_blob_path(order.edited_manuscript_for_paid_developmental_edit, disposition: "attachment") %>
                        </li>
                      <% end %>

                      <% if order.editors_report_for_paid_developmental_edit.attached? %>
                        <li data-bs-toggle="tooltip" title="<%= order.editors_report_for_paid_developmental_edit.filename %>">
                          <i class="bi bi-file-earmark-text"></i>
                          <%= link_to "Editor's Report", rails_blob_path(order.editors_report_for_paid_developmental_edit, disposition: "attachment") %>
                        </li>
                      <% end %>
                    </ul>

                </div>
            </div>
        </div>
      </section>

    <% end %>

  <% else %>

    <!-- Renders the new order partial -->
    <%= render partial: 'new_order', locals: { order: @order } %>

  <% end %>

</section>


<h2>Orders</h2>

<% @book.orders.each do |order| %>
  <% if order.product %>
    <p>
      <%= link_to order.product.name, book_order_path(@book, order) %>
      <%= button_to 'Delete', book_order_path(@book, order), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
<% end %>

