<%= form_with(model: [ @course, @lesson ], local: true) do |form| %>

  <% if @lesson.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h4>
      <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group input">
    <%= form.label :title, 'Lesson Title' %>
    <%= form.text_field :title, class: 'form-control', placeholder: "E.g., Introduction to Rails", autofocus: true %>
  </div>

  <div class="form-group input">
    <%= form.label :content, 'Lesson Content' %>
    <%= form.text_area :content, class: 'form-control', placeholder: "Provide the lesson content here." %>
  </div>

  <div class="form-group input">
    <%= form.label :position, "Position" %>
    <%= form.number_field :position, min: 1, class: 'form-control' %>
  </div>

  <div class="form-group button">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
