<div class="header">
  <h1><%= @course.title.titleize %></h1>
  <hr>
  <h2><%= @lesson.title.titleize %></h2>
</div>

<%= lessson_content(@lesson) %>


<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to @course.title.titleize, course_path(@course) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @lesson.title.titleize %></li>
  </ol>
</nav>


<div class="lesson-buttons">

  <div class="left-button">
    <% if @lesson.previous.present? %>
      <%= link_to 'Previous Lesson', course_lesson_path(@course, @lesson.previous), class: "btn btn-outline-primary" %>
    <% end %>
  </div>

  <div class="right-button">
    <% if @lesson.next.present? %>
    <%= link_to 'Next Lesson', course_lesson_path(@course, @lesson.next), class: "btn btn-primary" %>
    <% end %>
  </div>

</div>