<section class="devise-form">

  <div class="header">    
    <h1><%= bubblecow_name %></h1>
    <p>Log Into Your Account</p>
  </div>

  <div class="form">
        <%= form_for(resource, as: resource_name, html: {'data-turbo' => "false"}, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>


          <div class="input">
            <label for="signInEmail" class="form-label">Email:</label>
            <%= f.email_field :email, autofocus: true, placeholder: "Your email address", type: "email", class: "form-control", id: "signInEmail", :required => true %>
          </div>
                  
          <div class="input">
            <label for="signInPassword" class="form-label">Password:</label>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Your password", type: "password", class: "form-control", id: "signInPassword", :required => true  %>
          </div>
                  
          <div class="button d-grid gap-2">        
            <%= f.button "Log in", type: "submit", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..."} %>
          </div>

          <div class="forgotten-password-link">
            <%= link_to "Forgotten password?", new_user_password_path %>
          </div>
                  
          <div class="divider"></div>
                  
          <div class="button d-grid gap-2">         
            <%= link_to "Create a free account", new_user_registration_path, class: "btn btn-outline-primary" %>
          </div>
                  
        <% end %>
  </div>

</section>
