<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h4>
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group input">
    <%= form.label :title, 'Course Title' %>
    <%= form.text_field :title, class: 'form-control', placeholder: "E.g., Introduction to Rails", autofocus: true %>
  </div>

  <div class="form-group input">
    <%= form.label :description, 'Detailed Description' %>
    <%= form.text_area :description, class: 'form-control', placeholder: "Provide a detailed description of the course." %>
  </div>

  <div class="form-group input">
    <%= form.label :description_short, 'Short Description' %>
    <%= form.text_area :description_short, class: 'form-control', placeholder: "A brief overview of the course." %>
  </div>

  <div class="form-group input">
    <%= form.label :access_level, "Access Level" %>
    <%= form.select :access_level, Course.access_levels.keys.map { |key| [key.humanize, key] }, {}, { class: 'form-select' } %>
  </div>

  <div class="form-group input">
    <!-- Show current ac tag -->
    <% if @course.ac_tag.present? %>
      <p>Current ac tag: <%= @course.ac_tag %></p>
    <% else %>
      <p>No tag assigned</p>
    <% end %>

    <div class="input">
      <%= form.select(:ac_tag, options_for_select([['none'], ['book proposal']]), {}, {class: "form-select"}) %>
    </div>
  </div>
  
  <div class="form-group button">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>