<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    
    <!-- Show current ac tag -->
    <% if @course.ac_tag.present? %>
      <p>Current ac tag: <%= @course.ac_tag %></p>
    <% else %>
      <p>No tag assigned</p>
    <% end %>

      <div class="input">
        <%= form.select(:ac_tag, options_for_select([['none'], ['book proposal']]), {}, {class: "form-select"}) %>
      </div>
  </div>
  
  <div class="form-group">
    <% if course.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', course, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if course.persisted? %>
      <%= link_to "Cancel", course, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", courses_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
