<div class="row justify-content-center">
  <div class="col-xl-6 col-lg-8 col-md-10 col-12">
    <div class="course_page">

    <!-- Header  -->
    <div class="course_header">
      <h1 class="course_header__title text-center">Courses</h1>
    </div>

    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
          <div class="card d-flex flex-column h-100 position-relative"> <!-- Added position-relative -->
            
            <!-- Badge Code -->
            <% if current_user.nil? || current_user.free_user? %>
              <!-- Badge Code -->
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill <%= course.free? ? 'bg-info' : 'bg-success' %>">
                <%= course.access_level.capitalize %> <!-- This will display "Free" or "Paid" -->
                <span class="visually-hidden">course access level</span>
              </span>
            <% end %>

            <div class="card-body d-flex flex-column">
              <h2 class="card-title"><%= course.title %></h2>
              <div class="d-flex justify-content-between mt-3">
                <p class="card-subtitle mb-2 text-body-secondary">COURSE</p><p> <%= course.lessons.count %> LESSONS</p>
              </div>
              <div class="flex-fill mb-3"><%= raw course.description_short %></div>
    
              <!-- Conditional Access Button -->
              <% button_text, button_class = course_button_details(course, current_user) %>
              <%= link_to button_text, course_path(course), class: "btn #{button_class}" %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>

