<% if current_user.admin? %>
  <%= render 'services/developmental_edits/show/show_admin', developmental_edit: @developmental_edit %>
<% else %>
  <%= render 'services/developmental_edits/show/show_user', developmental_edit: @developmental_edit %>
<% end %>


<div class="page-header">
  <%= link_to services_developmental_edits_path(@developmental_edit), class: 'btn btn-default' do %>
    All Developmental_edits
  <% end %>
  <%= link_to edit_services_developmental_edit_path(@developmental_edit), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show developmental_edit</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @developmental_edit.title %></dd>

  <dt>User:</dt>
  <dd><%= @developmental_edit.user_id %></dd>

  <dt>Slug:</dt>
  <dd><%= @developmental_edit.slug %></dd>


</dl>

<p><%= @developmental_edit.full_manuscript %></p>
