<section class="header">
  <h1>Post Categories</h1>
</section>

<section class="page-body">
  <div class="box">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Parent Category</th>
          <th scope="col" colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @parent_categories.each do |parent_category| %>
          <tr>
            <td><%= parent_category.name %></td>
            <td>No Parent</td>
            <td><%= link_to 'Show', [ :blog, parent_category ] %></td>
            <td><%= link_to 'Edit', edit_blog_post_category_path(parent_category) %></td>
            <td><%= link_to 'Delete', [ :blog, parent_category ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% parent_category.child_categories.order(:name).each do |child_category| %>
            <tr>
              <td style="padding-left: 20px;"><%= child_category.name %></td>
              <td><%= parent_category.name %></td>
              <td><%= link_to 'Show', [ :blog, child_category ] %></td>
              <td><%= link_to 'Edit', edit_blog_post_category_path(child_category) %></td>
              <td><%= link_to 'Delete', [ :blog, child_category ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Category', new_blog_post_category_path, class: "btn btn-primary" %>
</section>
