<div class="card form__container">
  <div class="card-body form__base">

    <%= form_with(model: product) do |form| %>
      <% if product.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form__group">
        <%= form.label :name, class: "form__label" %>
        <%= form.text_field :name, class: "form-control form__input" %>
      </div>

      <div class="form__group">
        <%= form.label :description, "Product Description:", class: "form__label" %>
        <%= form.rich_text_area :description, type: "text", class: "form-control form__input" %>
      </div>

      <!-- Iterate over currency fields to apply styles and correct symbols -->
      <% [[:price_usd, '$'], [:price_gbp, '£'], [:price_eur, '€'], [:price_aud, 'A$'], [:price_nzd, 'NZ$'], [:price_cad, 'C$']].each do |field, symbol| %>
        <div class="form__group">
          <%= form.label field, class: "form__label" %>
          <div class="input-group mb-3">
            <span class="input-group-text"><%= symbol %></span>
            <%= form.text_field field, class: "form-control", aria_label: "Amount (to the nearest unit)" %>
          </div>
        </div>
      <% end %>

      <div class="mt-3">
        <%= form.submit class: "btn btn-primary form__submit" %>
      </div>
    <% end %>

  </div>
</div>
