<h1><%= @product.name %></h1>

<div><%= @product.description %></div>

<p>$<%= @product.price_usd %></p>
<p>£<%= @product.price_gbp %></p>
<p>€<%= @product.price_eur %></p>

<%= link_to 'Back', products_path %>
