<div class="card mt-3">
  <div class="card-body">

    <div class="header">
      <h1><%= @product.name %></h2>
    </div>
  
    <div class="product__description">
      <%= @product.description %>
    </div>

    <div class="product__prices">
      <p>USD: $<%= @product.price_usd %></p>
      <p>GBP: £<%= @product.price_gbp %></p>
      <p>EUR: €<%= @product.price_eur %></p>
      <p>AUD: A$<%= @product.price_aud %></p>
      <p>NZD: NZ$<%= @product.price_nzd %></p>
      <p>CAD: C$<%= @product.price_cad %></p>
    </div>

    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %> 

  </div>
</div>

