<div id="<%= dom_id dev_edit %>">
  <p>
    <strong>Status:</strong>
    <%= dev_edit.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= dev_edit.user_id %>
  </p>

  <p>
    <strong>Accepted date:</strong>
    <%= dev_edit.accepted_date %>
  </p>

  <p>
    <strong>Rejected date:</strong>
    <%= dev_edit.rejected_date %>
  </p>

  <p>
    <strong>Invoice due date:</strong>
    <%= dev_edit.invoice_due_date %>
  </p>

  <p>
    <strong>Invoice paid date:</strong>
    <%= dev_edit.invoice_paid_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= dev_edit.return_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= dev_edit.due_date %>
  </p>

</div>
