<div class="header">
    <h1>Sample Developmental Edits</h1>
</div>

<div class="card">

  <div class="card-body">

 <!-- Sample Edits Submitted -->
    <% if @sample_developmental_edit_submitted.present? %>
        <section class="mb-3">
            <h4>Sample Edit Submitted</h4>
            <p>These samples have been submitted but need to be assessed.</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Word Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% @sample_developmental_edit_submitted.each do |edit| %>
                        <tr>
                            <td><%= link_to edit.title, services_sample_developmental_edit_path(edit) %></td>
                            <td><%= edit.user.name.full %></td>
                            <td><%= number_with_delimiter(edit.word_count) %></td>
                        </tr>
                    <% end %> 
                </tbody>
            </table>
        </section>
    <% end %>

    <!-- Sample Edit accepted -->
    <% if @sample_developmental_edit_accepted.present? %>
        <section class="mb-3">
            <h4>Sample Edit Awaiting Editor</h4>
            <p>These samples have been accepted but need to be assigned an editor.</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Word Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% @sample_developmental_edit_accepted.each do |edit| %>
                        <tr>
                            <td><%= link_to edit.title, services_sample_developmental_edit_path(edit) %></td>
                            <td><%= edit.user.name.full %></td>
                            <td><%= number_with_delimiter(edit.word_count) %></td>
                        </tr>
                    <% end %> 
                </tbody>
            </table>
        </section>
    <% end %>

    <!-- Sample Edit underway -->
    <% if @sample_developmental_edit_editing_underway.present? %>
        <section class="mb-3">
            <h4>Sample Edit Being Edited</h4>
            <p>These samples are being edited.</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Word Count</th>
                        <th scope="col">Editor</th>
                    </tr>
                </thead>
                <tbody>
                    <% @sample_developmental_edit_editing_underway.each do |edit| %>
                        <tr>
                            <td><%= link_to edit.title, services_sample_developmental_edit_path(edit) %></td>
                            <td><%= edit.user.name.full %></td>
                            <td><%= number_with_delimiter(edit.word_count) %></td>
                            <td><%= edit.editor.name.full %></td>
                        </tr>
                    <% end %> 
                </tbody>
            </table>
        </section>
    <% end %>

</div>
</div>