
<div class="ebooks-show">

  <div class="row">

    <!-- Left Column for eBook Details and Downloads -->
    <div class="col-md-8">
        
        <h2 class="ebooks-show__title">Download your free eBook</h2>


        <div class="ebooks-show__description text-content">
            <%= raw(@ebook.description) %>
        </div>

        <div class="ebooks-show__buttons">
            <div class="d-flex flex-column">
                <% if @ebook.pdf_file.attached? %>
                <%= link_to @ebook.pdf_file, class: "btn btn-outline-primary mb-2", download: true do %>
                    <i class="bi bi-file-earmark-pdf"></i> PDF
                <% end %>
                <% end %>
                <% if @ebook.epub_file.attached? %>
                <%= link_to @ebook.epub_file, class: "btn btn-outline-success", download: true do %>
                    <i class="bi bi-file-earmark-text"></i> ePub
                <% end %>
                <% end %>
            </div>
        </div>

    </div>

    <!-- Right Column for Cover Image -->
    <div class="col-md-4 text-center">
    <% if @ebook.cover.attached? %>
        <img src="<%= url_for(@ebook.cover) %>" alt="<%= @ebook.title %> cover" class="img-fluid">
    <% else %>
        <p>No cover available</p>
    <% end %>
    </div>

  </div>

</div>