<%= form_with(model: [:services, @book, dev_edit_sample], local: true) do |form| %>
  
  <% if dev_edit_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dev_edit_sample.errors.count, "error") %> prohibited this dev_edit_sample from being saved:</h2>

      <ul>
      <% dev_edit_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Sample developmental edit submission Form -->
  <p class="lead">To proceed with free sample developmental editing please attach your manuscript.</p>
  <p>Your manuscript will be assessed, if we feel we can add value to your book, we will edit the first 2000 words of your book, free of charge.</p> 
  <p>Please note that we are unable to edit PDF files.</p>
  <%= form.file_field :unedited_manuscript, class: "form-control", required: true %>

  <div class="d-grid gap-2 mt-4">
    <%= form.button "Submit for free sample editing", type: "submit", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitting..."}  %>
  </div>

<% end %>
