<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Google tag manager -->
    <%= render 'shared/google_tag_manager' %>

    <!-- navigation -->
    <%= render 'shared/navigation/navbar' %>

    <!-- Notices -->
    <%= render 'shared/notices' %>

    <!-- main -->
    <main class="<%= controller_name %> <%= action_name %>">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <!-- Footer -->
    <%= render 'shared/footer' %>

  </body>

</html>

