<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/layout/head' %>
  </head>

  <body>

    <!-- Google tag manager -->
    <%= render 'shared/layout/google_tag_manager' %>

    <!-- navigation -->
    <%= render 'shared/layout/navbar' %>

    <!-- Notices -->
    <%= render 'shared/layout/notices' %>

    <!-- main -->
    <main>
      <%= yield %>
    </main>

    <!-- Footer -->
    <%= render 'shared/layout/footer' %>

  </body>

</html>

