<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navigation/default_navbar' %>
    <%= render 'shared/notices' %>
    
    <%= yield %>
    
    <% if @footer != "no footer" %>
      <%= render 'shared/footer' %>
    <% end %>

  </body>
</html>
