<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body id="backend">

      <!-- navigation -->
      <%= render 'shared/navbar' %>

      <!-- notices -->
      <%= render 'shared/notices' %>

      <!-- Main content -->
      <div class="container-fluid">
         <div class="<%= controller_name %> <%= action_name %> backend-page">
           <%= yield %>
         </div>
      </div>

  </body>
</html>