<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <!-- Notices -->
    <%= render 'shared/notices' %>

    <!-- Main content -->
    <div class="container">
      <div class="<%= controller_name %> <%= action_name %>">
        <div class="row justify-content-lg-center">
          <div class="col-lg-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>

  <!-- Google tag manager -->
  <%= render 'shared/google_tag_manager' %>
  
</html>
