<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>

    <!-- Google tag manager -->
    <%= render 'shared/google_tag_manager' %>

    <!-- navigation -->
    <%= render 'shared/navbar' %>

      <!-- Notices -->
      <%= render 'shared/notices' %>

    
    <div class="container">  
      <!-- Main content -->
      <%= yield %>
    </div>

    </div>
    
    <!-- Footer -->
    <%= render 'shared/footer' %>

  </body>

</html>