<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
    
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
